<div class="container">
  <div class="row" style="margin-top: 10px;">
      <div class="col-md-8 col-md-offset-2">
        <div class="modal-dialog login animated"  style="width: 100%">
          <div class="modal-content">
            <div class="modal-header">
                    
                  <h2 class="modal-title text-center">Register</h2>
            </div>
            <div class="modal-body">  
              <div class="box">
                <div class="content">
                  <div class="division">
                      <div class="line l"></div>
                      <div class="line r"></div>
                  </div>
                  <div class="error"></div>
                  <div class="form">
                    
                      <%= form_for @convention_request do |f| %>
                         
                        <br>

                        <div class="form-group">
                          <%= f.label :name %><br />
                          <%= f.text_field :name, value: "#{current_user.fname} #{current_user.lname}", required: true, autofocus: true, error: 'Name is mandatory',style: "border: 1px solid rgb(177, 177, 177);", input_html: { class: 'form-control' } %>
                        </div>  
                          <br>
                        <div class="row">  
                          <div class="form-group col-sm-3">
                            <%= f.label :degree %><br />
                            <%= f.select(:degree, [['B.Tech','BT'], ['M.Tech','MT'], ['MCA','MC'], ['MBA','MB'], ['MSW','MW'], ['PHD','PD'], ['MSc.','MS']], {selected: "#{current_user.degree}"}, {include_blank: true, class: "form-control", style: "width: 130px; color: black;"}) %>
                          </div> 
                        
                          <div class="form-group col-sm-3" >
                            <%= f.label :branch %><br />
                            <%= f.select(:branch,[['Bio-Tech.','BT'], ['Civil Engg.','CE'], ['Chemical Engg.','CHE'], ['Computer Science','CS'], ['Mechanical Engg.','ME'], ['Production and Industrial Engg.','PE'], ['Electrical Engg.','EE'], ['Electronics and Communication Engg.','ECE'], ['Information Tech.','IT'], ['Applied Mechanics','AM'], ['Bio Med. Engg.','BM'], ['Communication Sys.','COM'], ['Computer Aided Design and Manufacturing','CAD'], ['Control and Instrumentation/Power Sys.','CIS'], ['Control and Instrumentation (Part time)','CISP'], ['Design(ME)','DE'], ['Digital Sys.','DS'], ['Environmental Engg.','ENV'], ['Fluids Engg.','FE'], ['Geotechnical Engg.','GE'], ['GIS and Remote Sensing','GIS'], ['Information Security','IS'], ['Material Sci. and Engg.','MSE'], ['Micro-electronics and VLSI Design','MEV'], ['Power Electronics and ASIC Design (Part time)','PEDP'], ['Power Electronics and ASIC Design','PED'], ['Product Design and Development','PDD'], ['Bio-Tech. Dept.','BTD'], ['Chemistry Dept.','CHD'], ['Electrical Engg. Dept.','EED'], ['Electronics and Communication Dept.','ECD'], ['Humanities and Social Sci.','HSS'], ['Management Studies','MS'], ['Mathematics Dept.','MD'], ['Mechanical Engg. Dept.','MED'], ['Civil Engg. Dept.','CED'], ['Computer Sci. and Engg. Dept.','CSD'], ['Applied Mechanics Dept.','AMD']], {selected: "#{current_user.branch}"}, {include_blank: true, class: "form-control", style: "width: 330px; color: black;"})%>
                          </div>

                          <div class=" form-group col-sm-3 col-sm-offset-3">
                            <%= f.label :year_of_passing, "Graduation Year" %><br />
                            <div class='input-group date'>
                              <%= f.date_select :year_of_passing, {:start_year => Time.now.year + 4, :end_year => Time.now.year - 95, :discard_day => true, :discard_month => true, default: current_user.year_of_passing}, { class: "form-control", style: "color:black;" } %>
                            </div>
                            
                          </div>
                        </div>

                        <br>
                        <div class="form-group">
                          <%= f.label :designation, "Designation" %><br />
                          <%= f.text_field :designation, value: "#{current_user.designation}", style: "border: 1px solid rgb(177, 177, 177);", input_html: { class: 'form-control' }%>
                        </div>
                        <br>
                        <div class="form-group">
                          <%= f.label :address, "Corresponding/Permanent Address" %><br />
                          <%= f.text_area :address, input_html: {class: 'form-control'} %>
                        </div>                            

                          <br>
                        <div class="form-group">
                          <%= f.label :is_attending, "Attending" %><br />
                          <%= f.label :is_attending, "Yes", value: "Yes" %>
                          <%= f.radio_button(:is_attending, "Yes") %> 
                          <%= f.label :is_attending, "No", value: "No" %>
                          <%= f.radio_button(:is_attending, "No") %> 
                        </div> 
                        <br>
                        <div class="form-group">
                          <%= f.label :accompanions , "No. of Accompanying person(s)"%><br />
                          <%= f.text_field :accompanions, style: "border: 1px solid rgb(177, 177, 177);color:black; background-color: white;",  class: 'form-control' %>
                        </div>
                          <br>
                        <div>
                          Please note the Payment-ID after the payment is seccessfull and fill it below.
                          <br>
                          <% if current_user.year_of_passing.year == Convention.last.year.year - 25 %>
                            <a href="https://test.instamojo.com/@prodroid/lf2d2ffb6b6a2459fa296ccef604ada37/" rel="im-checkout" data-behaviour="link" data-style="flat" data-text="Silver Jubilee Payment"></a>
                            
                          <% else %>
                            <a href="https://test.instamojo.com/@prodroid/l55a78e8c568c46bfb1efa51cdbe1127f/" rel="im-checkout" data-behaviour="link" data-style="flat" data-text="Payment"></a>
                            
                          <% end %>
                        </div> 
                        <br> 
                        <div class="form-group">
                          <%= f.label :payment, "Payment ID" %><br />
                          <%= f.text_field :payment, placeholder: "Please enter the Payment Id", class: 'form-control', style: "border: 1px solid rgb(177, 177, 177);color:black; background-color: white;" %>
                        </div> 
                        
                        <br>  
                        <div class="form-actions">
                          <%= f.submit "Register", class: 'btn btn-login btn-info' %>
                        </div>
                      <% end %> 
                  </div>
                </div>
              </div>
            </div>  
          </div>
      </div>        
      </div>    
  </div>
</div>

<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>