<script type="text/javascript">
  
      $('#datetimepicker1').datetimepicker({
          format: 'YYYY-MM-DD'
      });
     
  
</script>
<style>
  .datetime select:nth-child(1) {
    width: 130px;
    text-indent: 15px; 
    display: inline-block;
  }
  .datetime select:nth-child(2) {
    width: 130px;
    text-indent: 15px; 
    display: inline-block;
  }
  .datetime select:nth-child(3) {
    width: 130px;
    text-indent: 15px; 
    display: inline-block;
  }
</style>
 
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">

          <h2 style="text-align: center;">Edit <%= resource_name.to_s.humanize %></h2>
        </div>  
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,  name: "profiles" }) do |f| %>
          <div class="alert-danger ">
            <%= devise_error_messages! %>
          </div>   
          <div class="panel-body">

            <div class="form-inputs">
              <div class="form-group">
                <%= f.label :fname, "First Name" %><br />
                <%= f.text_field :fname, class: "form-control", :autofocus => true %>
              </div>
              <div class="form-group">
                <%= f.label :lname, "Last Name" %><br />
                <%= f.text_field :lname, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :nick_name, "Username" %><br />
                <%= f.text_field :nick_name, class: "form-control"%>
              </div>
              <div class="form-group">
                <%= f.label :gender %><br />
                <%= f.label :gender, "Male", value: "Male" %>
                <%= f.radio_button(:gender, "Male") %> 
                <%= f.label :gender, "Female", value: "Female" %>
                <%= f.radio_button(:gender, "Female") %> 
              </div>

              <div class="form-group">
                <%= f.label :reg_no, "Registration No." %><br /><i>(Please enter your college registration number if you remember.)</i>
                <%= f.text_field :reg_no, class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label :role, "Role" %><br />
                <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}, {}, {class: "form-control", style: "width: 130px"}) %>
              </div>
              <div class="form-group">
                <%= f.label :phn_no , "Phone No."%><br />
                <%= f.text_field :phn_no, class: "form-control"  %>
              </div>
              
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label :pic %><br />
                <%= f.file_field :pic, input_html: { class: "form-control", style: "color: black;"} %>
              </div>

              <div class=" form-group">
                <%= f.label :date_of_birth, "Date of Birth" %><br />
                <div class='input-group date' >
                  <span class="datetime"><%= f.date_select  :date_of_birth,{:start_year => Time.now.year - 100, :end_year => Time.now.year - 15 }, { class: "form-control" } %></span>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :degree %><br />
                <%= f.select(:degree, [['B.Tech','BT'], ['M.Tech','MT'], ['MCA','MC'], ['MBA','MB'], ['MSW','MW'], ['PHD','PD'], ['MSc.','MS']], {}, {include_blank: true, class: "form-control", style: "width: 130px;"}) %>
              </div>

              <div class="form-group">
                <%= f.label :branch %><br />
                <%= f.select(:branch,[['Bio-Tech.','BT'], ['Civil Engg.','CE'], ['Chemical Engg.','CHE'], ['Computer Science','CS'], ['Mechanical Engg.','ME'], ['Production and Industrial Engg.','PE'], ['Electrical Engg.','EE'], ['Electronics and Communication Engg.','ECE'], ['Information Tech.','IT'], ['Applied Mechanics','AM'], ['Bio Med. Engg.','BM'], ['Communication Sys.','COM'], ['Computer Aided Design and Manufacturing','CAD'], ['Control and Instrumentation/Power Sys.','CIS'], ['Control and Instrumentation (Part time)','CISP'], ['Design(ME)','DE'], ['Digital Sys.','DS'], ['Environmental Engg.','ENV'], ['Fluids Engg.','FE'], ['Geotechnical Engg.','GE'], ['GIS and Remote Sensing','GIS'], ['Information Security','IS'], ['Material Sci. and Engg.','MSE'], ['Micro-electronics and VLSI Design','MEV'], ['Power Electronics and ASIC Design (Part time)','PEDP'], ['Power Electronics and ASIC Design','PED'], ['Product Design and Development','PDD'], ['Bio-Tech. Dept.','BT'], ['Chemistry Dept.','CH'], ['Electrical Engg. Dept.','EE'], ['Electronics and Communication Dept.','EC'], ['Humanities and Social Sci.','HSS'], ['Management Studies','SM'], ['Mathematics Dept.','MD'], ['Mechanical Engg. Dept.','ME'], ['Civil Engg. Dept.','CE'], ['Computer Sci. and Engg. Dept.','CS'], ['Applied Mechanics Dept.','AM'],['Physics Dept.','PH']], {}, {include_blank: true, class: "form-control", style: "width: 330px;"})%>
              </div>

              <div class=" form-group">
                <%= f.label :year_of_passing, "Year of Passing" %><br />
                <div class='input-group date'>
                  <%= f.date_select :year_of_passing, {:start_year => Time.now.year + 4, :end_year => Time.now.year - 95, :discard_day => true, :discard_month => true}, { class: "form-control" } %>
                </div>
                <i>(Note that if you are from batch 1961-1965, then 1965 is your batch i.e. the last year you were in MNNIT.)</i>
              </div>

              <div class="form-group">
                <%= f.label :curr_address, "Corresponding Address" %><br />
                <%= f.text_area :curr_address, class: "form-control"%>
              </div>
              
              <div class="form-group">
                <%= f.label :pincode , "Pin-Code"%><br />
                <%= f.text_field :pincode, class: "form-control"%>
              </div>

              <div class="form-group">
                <%= f.label :h_town, "Home Town" %><br />
                <%= f.text_field :h_town, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :city, "City" %><br />
                <%= f.text_field :city, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :country, "Country" %><br />
                <%= f.text_field :country, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :company, "Working Organisation" %><br />
                <%= f.text_field :company, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :designation, "Designation" %><br />
                <%= f.text_field :designation, class: "form-control"%>
              </div>

              <div class="form-group">
                <%= f.label :achievements, "Achievements, Expertise, Interests " %><br />
                <%= f.text_area :achievements, class: "form-control" %>
              </div>

              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Update", class: "btn btn-lg btn-info col-md-offset-4" %>
              &nbsp; <%= link_to "Back", :back, class: "btn btn-lg btn-red" %>
            </div>
          </div>  
        <% end %>
        <div class="panel-footer" style="background-color: #BCE8F1;">
          <h3>Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning" %></p>
        </div>
      </div>  
    </div> 
  </div>



