<div class= "container">
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 style="text-align: center;">Sign up</h2>
        </div>
        <div class="panel-body">  
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            
              <%= f.error_notification %>
              

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
              <br>
              <%= f.input :password, required: true, input_html: { minlength: 6, class: 'form-control' } %>
              <br>
              <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control' } %>
            </div>
            <br>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn btn-lg btn-info col-md-offset-5" %>
            </div>
            <br>
          <% end %>
        </div>
        <div class="panel-footer" style="background-color: #BCE8F1;">  

          <%= render "devise/shared/links" %>
        </div>
      </div>    

    </div>
  </div>

  <br>  
  <hr>
  <%= render 'pages/footer'%>    
</div>    
