<div class="container" style="margin-top: 30px;background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12); height: 400px;">
	
	<div class="text-center">	
		<h1>
			<%= @job.title %>
		</h1>
		<hr>
		
		<div>
			<%= @job.description %>
		</div>
		<br>
		<div>
			<%= link_to "Apply", "http://#{@job.url}", class: "btn btn-lg btn-yellow" %>
		</div>
	</div>
	<br>	
	<hr>
	<div class="text-center">
		<% if user_signed_in? and @job.user == current_user %>
			<%= link_to "Edit", edit_job_path , class: "btn btn-lg btn-success" %>
			<%= link_to "Delete", @job,  method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-lg btn-red" %>
		<% end %>
	</div>	
		
	
</div>