<div class="container target">
    <div class="row">
      <div class="col-sm-3 text-center" style="background-color: white; width: 30%; height: 500px; border-radius: 10px; box-shadow: 3px 3px rgba(0,0,0,0.3);">
          <% if !@user.pic_file_name.nil? %>
            <img src='<%= @user.pic.url(:medium) %>' style="border-radius:50%; margin-top: 30px;">
            
    			<% else %>
            <%= image_tag 'speaker-1.png', style: "border-radius: 50%; margin-top: 30px;"%>
    			<% end %>
    		<h1 ><%= @user.nick_name %></h1>
	<% if @user==current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path, class:'btn btn-red btn-md ', style: "margin-top: 30px;" %>
	<% end %>    	
	</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false"><h1 class="text-center">Profile Info</h1></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">User Name</strong></span>
                  <% if !@user.fname.blank?  %>
          					<% if !@user.lname.blank? %>
          						 <%= "#{@user.fname} #{@user.lname}"  %>
          					<% else %>
          						 <%= @user.fname %>
          					<% end %>		
          				<% else %>
          					Name not set.	 
          				<% end %>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span><%= @user.email %>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Date of birth: </strong></span> <%= @user.date_of_birth if @user.date_of_birth %>
                <%= "Not Set" if !@user.date_of_birth %>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Phone number: </strong></span> <%= @user.phn_no.to_i if @user.phn_no %>
                  <%= "Not Set" if !@user.phn_no %>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Address: </strong></span><%= "#{@user.city} " if @user.city %> <%=  "#{@user.country}" if @user.country %>
                  <%= "Not Set" if !@user.city and !@user.country %>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> <%= @user.created_at.to_date %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= @user.last_sign_in_at.to_date %></li>
                <li class="list-group-item text-muted" contenteditable="false"><h1 class="text-center">Academics Info</h1></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Year of Degree: </strong></span> <%= @user.year_of_passing.year if @user.year_of_passing %>
                  <%= "Not Set" if @user.year_of_passing.blank? %>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Programme</strong></span> <%= @user.degree if @user.degree %>
                <%= "Not Set" if @user.degree.blank? %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Branch</strong></span> <%= @user.branch if @user.branch%><%= "Not Set" if @user.branch.blank? %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role</strong></span> <%= @user.role.humanize if @user.role %>


            </ul>
            
           
        </div>


    </div>
</div>    
		
