<%= simple_form_for @request, html: { multipart: true } do |f| %>
	<%- if @request.errors.any? %>
		<div id="errors">
			<h2>
				<%= pluralize(@request.errors.count, "Error") %>
				Prevented this request from saving.
			</h2>	
				<ul>
					<%  @request.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>	
				</ul>				
		</div>
	<% end %>			
	<div class="form-group">
		<%= f.input :title, label: false, placeholder: "Title", input_html: { class: "form-control"} %>
	</div>	
	<div class="form-group">
		<%= f.input :description, label: false, placeholder: "Description", input_html: { class: "form-control"} %>
	</div>

	<div class="form-group">
		<%= f.input :image, input_html: { class: "form-control"} %>
	</div>
	<%= f.button	:submit, class: "btn btn-login btn-info" %>
<% end %>	
