<!--<header id="t3-header" class="t3-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 logo">
                      <div class="col-xs-4">
                        <div class="logo-image">
                            <a href="/" title="">
                               <%= image_tag "logo.png", class: "logo-img", alt: "MNNIT Alumni Association", style: "height: 50%; width: 50%" %>
                                <span></span>
                                <p class="title">Alumni Association</p>
                            </a>

                            <small class="site-slogan">MNNIT Alumni Association</small>
                        </div>
                      </div>  
                        <div class="col-xs-8">
                          <div class="quote">
                              <div class="quote_style">
                                  <p id="a">Alumni Association</p>
                                  <p>"Because We love to be Connected with our Family."</p>
                              </div>
                          </div>
                        </div>
                    </div>

                    




                </div>
            </div>
    
  </header>-->
	    <!-- Navigation -->
<script>
	$(document).ready(function(){
		var str = $('#nickname').val();
        console.log(str);
        if(str.length > 19)
        {
                str = str.substring(0,19);
                str += "..";
        }
        console.log(str);
        document.getElementById('nickname').value = str;
	});
       /* var str = $('#nickname').val();
        console.log(str);
        if(str.length > 19)
        {
                str = str.substring(0,19);
                str += "..";
        }
        console.log(str);
        document.getElementById('nickname').value = str;
	*/
</script>   
 <nav class="navbar navbar-ct-black " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-logo" href="/" style="margin-left: -45px;">
                    <div class="row" style="margin: 0;padding: 0">
                      <div class="col-sm-6" style="margin: 0;padding: 0">
                        <div class="logo" >
                          <%= image_tag "logo.png", class: "logo-img", alt: "MNNIT Alumni Association" %>
                        </div>
                      </div>
                      <div class="col-sm-6" style="margin: 0;padding: 0">
                        <div class="brand" style= "margin-top: 0px;">
                          <div class="row"><font size="5">MNNIT</font></div>
                          <div class="row" style="width: 250%;"><font size="2">Alumni Association</font></div>
                        </div>
                      </div>
                    </div>
                    
                    
                </a>
                
            	
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav" style="margin-left: 1%">
    			        <li style="margin-top: 10px; margin-left: -13px;"><%= link_to '<i class="fa fa-home fa-fw" aria-hidden="true"></i> Home'.html_safe, root_path %></li>
                  <li class="dropdown" style="margin-top: 10px; margin-left: -13px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-link fa-fw" aria-hidden="true"></i> Links
                      <span class="caret"></span>
                    </a>  
                    <ul class="dropdown-menu" role="menu">
                        <li ><%= link_to '<i class="fa fa-book fa-fw" aria-hidden="true"></i> Chapters'.html_safe, chapters_path %></li>
                      <li ><%= link_to '<i class="fa fa-photo fa-fw" aria-hidden="true"></i> Gallery'.html_safe, 'http://mnnit.ac.in/index.php/institute/photo-gallery' %></li>
                    </ul>
                  </li>
                  <!-- <li style="margin-top: 10px;"><%= link_to '<i class="fa fa-book fa-fw" aria-hidden="true"></i> Forum'.html_safe, coming_soon_path %></li> -->
    			        <li class="dropdown" style="margin-top: 10px;margin-left: -13px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i> About
                      <span class="caret"></span>
                    </a>  
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to ' About MAA', about_path %></li>
                      <li><%= link_to 'About MNNIT', 'http://www.mnnit.ac.in'%></li>
                    </ul>
                  </li>
                  <li style="margin-top: 10px;margin-left: -13px;"><%= link_to '<i class="fa fa-rocket fa-fw" aria-hidden="true"></i> Convention'.html_safe, conventions_path %></li>
                  <li style="margin-top: 10px;margin-left: -13px;"><%= link_to '<i class="fa fa-gift fa-fw" aria-hidden="true"></i> Give Back'.html_safe, fund_path %></li>
                  <li style="margin-top: 10px;margin-left: -13px;"><%= link_to '<i class="fa fa-search fa-fw" aria-hidden="true"></i>Search Alumni'.html_safe, new_search_path %></li>
                  <li style="margin-top: 10px;margin-left: -13px;"><%= link_to '<i class="fa fa-download fa-fw" aria-hidden="true"></i>Downloads'.html_safe, downloads_path %></li>

    			    </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: -40px;">
              <% if user_signed_in? %>
                <% if !current_user.pic_file_name.nil? %>
                  <li class="round-image-50"><%= image_tag(current_user.pic.url(:thumb))  %></li>
                <% else %>
                  <li class="round-image-50"><%= image_tag 'speaker-1.png' %></li>
                <% end %>
			          <li class="dropdown" style="margin-top: 10px;">
			            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nickname">  
			              <% if current_user.nick_name? %>		
			              	<%= current_user.nick_name %>
			              <% else %>
			              	<%= current_user.email.split('@')[0] %>
			              <% end %>	
			              <span class="caret"></span>
			            </a>
			            <ul class="dropdown-menu" role="menu">
			              <li><%= link_to '<i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile'.html_safe, current_user %></li>
			              <li><%= link_to '<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Settings'.html_safe, edit_user_registration_path %></li>
			              <li class="divider"></li>
                    <% if current_user.is_admin == true %>
                      <li><%= link_to '<i class="fa fa-envelope fa-fw" aria-hidden="true"></i>Email'.html_safe, new_email_path %></li>
                    <% end %>  
			              <li><%= link_to '<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Log out'.html_safe, destroy_user_session_path, method: :delete %></li>
			            </ul>

			          </li>
			          
			          	<li> 
			          		<% if current_user.is_active == false and current_user.request.nil? %>
			          			<%= link_to 'Activate', activate_path, class: "btn btn-lg btn-red",style: "margin-top: 10px;" %>
                    <% elsif current_user.is_active == false  %>
                      <%= link_to 'Show Request', requests_path, style: "margin-top: 20px;" %>
			          		<% end %>	
			            </li>
              <% else %>
                <%= link_to '<i class="fa fa-lock fa-fw" aria-hidden="true"></i> Log In'.html_safe,"#loginModal","data-toggle" => "modal" , remote: true, onclick: "openLoginModal();", class: "btn btn-md btn-red", style: "margin-top: 20px;" %>
                <%= link_to '<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Sign Up'.html_safe,"#loginModal","data-toggle" => "modal", remote: true, onclick: "openRegisterModal();", class: "btn btn-md btn-yellow", style: "margin-top: 20px;" %>    
			        <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </div>
        <!-- /.container -->
        <div class="modal fade login" id="loginModal">
                <div class="modal-dialog login animated">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-center">Login </h4>
                        </div>
                        <div class="modal-body">  
                            <div class="box">
                                 <div class="content">
                                   <!-- <div class="social">
                                        <a class="circle github" href="/auth/github">
                                            <i class="fa fa-github fa-fw"></i>
                                        </a>
                                        <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                            <i class="fa fa-google-plus fa-fw"></i>
                                        </a>
                                        <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                            <i class="fa fa-facebook fa-fw"></i>
                                        </a>
                                    </div>
                                    <div class="division">
                                        <div class="line l"></div>
                                          <span>or</span>
                                        <div class="line r"></div>
                                    </div>-->
                                    <div class="error"></div>
                                    <div class="form loginBox">
                                        <%= render 'partial/login' %>
                                    </div>
                                 </div>
                            </div>
                            <div class="box">
                                <div class="content registerBox" style="display:none;">
                                 <div class="form">
                                    <%= render 'partial/register' %>   
                                 </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="forgot login-footer">
                                <%= link_to "Forgot Password", new_password_path(resource_name) %><br />                                
                                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                                <span>Looking to 
                                     <a href="javascript: showRegisterForm();">create an account</a>
                                ?</span>
                            </div>
                            <div class="forgot register-footer" style="display:none">
                                 <span>Already have an account?</span>
                                 <a href="javascript: showLoginForm();">Login</a><br />
                                 <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                            </div>
                        </div>        
                    </div>
                </div>
            </div>

    </nav>

  <script>
	/*var str = $('#nickname').val();
	console.log(str);
	if(str.length > 19)
	{
		str = str.substring(0,19);
		str += "..";
	}
	console.log(str);
	document.getElementById('nickname').value = str;
	*/
 </script>
