<!--<header id="t3-header" class="t3-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 logo">
                      <div class="col-xs-4">
                        <div class="logo-image">
                            <a href="/" title="">
                               <%= image_tag "logo.png", class: "logo-img", alt: "MNNIT Alumni Association", style: "height: 50%; width: 50%" %>
                                <span></span>
                                <p class="title">Alumni Association</p>
                            </a>

                            <small class="site-slogan">MNNIT Alumni Association</small>
                        </div>
                      </div>  
                        <div class="col-xs-8">
                          <div class="quote">
                              <div class="quote_style">
                                  <p id="a">Alumni Association</p>
                                  <p>"Because We love to be Connected with our Family."</p>
                              </div>
                          </div>
                        </div>
                    </div>

                    




                </div>
            </div>
    
  </header>-->
	    <!-- Navigation -->
    <nav class="navbar navbar-ct-black " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-logo" href="/">
                    <div class="logo" >
                    <%= image_tag "logo2.jpeg", class: "logo-img", alt: "MNNIT Alumni Association" %>
                    </div>
                    <div class="brand" style= "margin-top: 5px;"> MAA </div>
                </a>
                
            	
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav">
    			        <li style="margin-top: 10px;"><%= link_to '<i class="fa fa-home fa-fw" aria-hidden="true"></i> Home'.html_safe, root_path %></li>
                  <li class="dropdown" style="margin-top: 10px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-link fa-fw" aria-hidden="true"></i> Links
                      <span class="caret"></span>
                    </a>  
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to '<i class="fa fa-download fa-fw" aria-hidden="true"></i> Downloads'.html_safe, downloads_path %></li>
                        <li ><%= link_to '<i class="fa fa-book fa-fw" aria-hidden="true"></i> Chapters'.html_safe, chapters_path %></li>
                      <li ><%= link_to '<i class="fa fa-photo fa-fw" aria-hidden="true"></i> Gallery'.html_safe, '#' %></li>
                    </ul>
                  </li>
                  <!-- <li style="margin-top: 10px;"><%= link_to '<i class="fa fa-book fa-fw" aria-hidden="true"></i> Forum'.html_safe, coming_soon_path %></li> -->
    			        <li class="dropdown" style="margin-top: 10px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i> About
                      <span class="caret"></span>
                    </a>  
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to ' About MAA', about_path %></li>
                      <li><%= link_to 'About MNNIT', 'http://www.mnnit.ac.in'%></li>
                    </ul>
                  </li>
                  <li style="margin-top: 10px;"><%= link_to '<i class="fa fa-gift fa-fw" aria-hidden="true"></i> Give Back'.html_safe, fund_path %></li>
                  <li style="margin-top: 10px;"><%= link_to '<i class="fa fa-search fa-fw" aria-hidden="true"></i>Search Alumni'.html_safe, new_search_path %></li>
                  
    			    </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: -40px;">
              <% if user_signed_in? %>
                <% if !current_user.pic_file_name.nil? %>
                  <li class="round-image-50"><%= image_tag(current_user.pic.url(:thumb))  %></li>
                <% end %>
			          <li class="dropdown" style="margin-top: 10px;">
			            <a class="dropdown-toggle" data-toggle="dropdown" href="#">  
			              <% if current_user.nick_name? %>		
			              	<%= current_user.nick_name %>
			              <% else %>
			              	<%= current_user.email %>
			              <% end %>	
			              <span class="caret"></span>
			            </a>
			            <ul class="dropdown-menu" role="menu">
			              <li><%= link_to '<i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile'.html_safe, current_user %></li>
			              <li><%= link_to '<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Settings'.html_safe, edit_user_registration_path %></li>
			              <li class="divider"></li>
			              <li><%= link_to '<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Log out'.html_safe, destroy_user_session_path, method: :delete %></li>
			            </ul>

			          </li>
			          
			          	<li> 
			          		<% if current_user.is_active == false and current_user.request.nil? %>
			          			<%= link_to 'Activate', activate_path, class: "btn btn-lg btn-red",style: "margin-top: 10px;" %>
                    <% elsif current_user.is_active == false  %>
                      <%= link_to 'Show Request', requests_path, style: "margin-top: 20px;" %>
			          		<% end %>	
			            </li>
			        <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </div>
        <!-- /.container -->

    </nav>

  