<style>
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
.board{
    width: 80%;
margin: 60px auto;
height: 500px;
background: #fff;

}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin-left:10%;
    padding-left: 10%;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa 
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 17%;
  
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
    
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}




.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
  border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;

}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}

</style>
<script>
$(function(){
$('a[title]').tooltip();
});

</script>

    <div class="container-fluid" style="margin-top: -20px;">
            <!-- Start: Header -->
            <div class="row hero-header fill" style="background-image:url(<%= asset_path 'institute.jpg' %>);">
              <div class="col-md-12 text-center " style="margin-top: -80px; padding-top: -50px;">
                <h1 ><span>MNNIT <span style="color: #fcd93b">Alumni</span> Association</span></h1>
                <h3 style="font-size: 35px ">पूरा छात्र संगठन</h3>
                <% if !user_signed_in? %>
                    <%= link_to '<i class="fa fa-lock fa-fw" aria-hidden="true"></i> Log In'.html_safe,"#loginModal","data-toggle" => "modal" , remote: true, onclick: "openLoginModal();", class: "btn btn-lg btn-yellow" %>
                    <%= link_to '<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Sign Up'.html_safe,"#loginModal","data-toggle" => "modal", remote: true, onclick: "openRegisterModal();", class: "btn btn-lg btn-yellow" %>
                <% end %>
                
              </div>
              
            </div>
            <div class="modal fade login" id="loginModal">
                <div class="modal-dialog login animated">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-center">Login </h4>
                        </div>
                        <div class="modal-body">  
                            <div class="box">
                                 <div class="content">
                                   
                                    <div class="error"></div>
                                    <div class="form loginBox">
                                        <%= render 'partial/login' %>
                                    </div>
                                 </div>
                            </div>
                            <div class="box">
                                <div class="content registerBox" style="display:none;">
                                 <div class="form">
                                    <%= render 'partial/register' %>   
                                 </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="forgot login-footer">
                                <%= link_to "Forgot Password", new_password_path(resource_name) %><br />                                
                                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                                <span>Looking to 
                                     <a href="javascript: showRegisterForm();">create an account</a>
                                ?</span>
                            </div>
                            <div class="forgot register-footer" style="display:none">
                                 <span>Already have an account?</span>
                                 <a href="javascript: showLoginForm();">Login</a><br />
                                 <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                            </div>
                        </div>        
                    </div>
                </div>
            </div>
            <!-- End: Header -->
          </div>
          <% if !user_signed_in? %>
          <div class="container-fluid" style="background-color: rgba(252, 242, 59, 0.25)" >
            <!-- Start: Desc -->
            <div class="row me-row content-ct">
              <h1 class="row-title"><span style="color: #DD5138; font-size: 60px;">Features...</span></h1>
              <div class="col-md-2 feature">
                <span class="ti-world"></span>
                <h3>Alumni around the globe!</h3>
                <p>The best opportunity to meet and greet alumni from our institute.</p>
              </div>
              <div class="col-md-2 feature">
                <span class="ti-gift"></span>
                <h3>Give back to College</h3>
                <p>Help your college and juniors to progress & prosper. </p>
              </div>
              <div class="col-md-2 feature">
                <span class="ti-id-badge"></span>
                <h3>Profiles</h3>
                <p>View the profiles of all students and alumni.</p>
              </div>
              <div class="col-md-2 feature">
                <span class="ti-announcement"></span>
                <h3>News</h3>
                <p>View the latest news and announcements related to the institute, students and alumni. To submit a news, simply <a href="mailto:mnnitalumni@mnnit.ac.in">email us</a>.</p>
              </div>
              
              <div class="col-md-2 feature">
                <span class="ti-comment"></span>
                <h3>Feedback</h3>
                <p>Your feedback is invaluable to us. Feel free to critique and suggest possible improvisations.</p>
              </div>

              <div class="col-md-2 feature">
                <span class="ti-more"></span>
                <h3>More to explore..</h3>
                <p>More features yet to come.</p>
              </div>
              
            </div>
        </div>  
        <% end %>
        

<section style="border:solid 2px black;">
        <div class="container">
            <div class="row">
                <div class="board">
                    
                    <div class="board-inner" >
                    <ul class="nav nav-tabs" id="myTab" >
                    <div class="liner"></div>
                     <li class="active">
                     <a href="#home" data-toggle="tab" title="welcome">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li><a href="#profile" data-toggle="tab" title="Jobs And Internships">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-briefcase"></i>
                     </span> 
           </a>
                 </li>
                 <li><a href="#messages" data-toggle="tab" title="News And Announcements">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-comment"></i>
                     </span> </a>
                     </li>

                     <li><a href="#settings" data-toggle="tab" title="Highlights">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-bell"></i>
                         </span> 
                     </a></li>

                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">

                          <b><h3 class="head text-center">Welcome to MNNIT Alumni Association</h3></b>
                          <p class="narrow text-center">
                              Hub For All Interaction Of You AlmaMater.
                          </p>
                          
                          <p class="text-center">
                    <a href="" class="btn btn-success btn-outline-rounded green"> Start Using MAA .<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                      </div>
                      <div class="tab-pane fade text-center" id="profile">
                          
                               
                                    <h3 class="module-title "><span><span class="fa fa-briefcase"></span><b> Jobs and Internships</b><hr></span></h3>
                                   

                                <% if @jobs.empty? %>
                                    <div class="ja-slidenews-item">
                                        <a class="ja-title" href="#">No Jobs!!</a>
                                    </div>
                                <% else %>
                                    <div id="jobs">  
                                        <%= render 'jobs/index' %>
                                    </div>
                                <% end %>    

                                <% if user_signed_in? %>
                                    <div class="text-center">
                                        <%= link_to "Add Job", new_job_path , class: "btn btn-lg btn-red" %>
                                    </div>
                                <% end %>       
                            
                      
                        </div>
                          
                    
                      <div class="tab-pane fade text-center" id="messages">
                          
                               <h3 class="module-title "><span><span class="fa fa-newspaper-o"></span><b> News and Announcements</b><hr></span></h3>
                                  
                                            <% if @newses.empty? %>
                                                <div class="ja-slidenews-item">
                                                    <a class="ja-title" href="#">No News!!</a>
                                                </div>
                                            <% else %>
                                                <div id="newses">  
                                                    <%= render 'news/index' %>
                                                </div>
                                            <% end %>    

                                         <% if user_signed_in? and current_user.is_admin == true %>
                                            <div class="text-center">
                                                <%= link_to "Add News", new_news_path , class: "btn btn-lg btn-red" %>
                                            </div>  
                                         <% end %>         
                            
                      
                        </div>
                          
                      <div class="tab-pane fade text-center" id="settings">
                          
                            <h3 class="module-title "><span><span class="fa fa-star"></span><b> Highlights</b> </span><hr></h3>
                            
                            <% if Convention.any? %>
                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="<%= convention_path(Convention.last.id) %>" style="color: #1E7896">
                                        <b>Alumni Convention <%= Convention.last.year.year %></b>
                                    </a>
                                </div>
                            <% end %>    
                                <div class="ja-slidenews-item">

                                  <a class="ja-title" href="<%= idcard_path %>" style="color: #1E7896">
                                        <b>Request for Id-cards</b>
                                    </a>
                                </div>

                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="<%= new_user_registration_path %>" style="color: #1E7896">
                                        <b>Registration Link</b>
                                    </a>

                                </div>
                                

                      
                      </div>
                 </div>

            </div>
            </div>
            </div>
            </section>