
<% if !user_signed_in? %>
    <div class="container-fluid" style="margin-top: -20px;">
            <!-- Start: Header -->
            <div class="row hero-header fill" style="background-image:url(<%= asset_path 'alumni.jpg' %>);">
              <div class="col-md-12 text-center " style="margin-top: -80px; padding-top: -50px;">
                <h1 style="color: black;"><span>MNNIT <span style="color: #DD5138">Alumni</span> Association</span></h1>
                <h3 style="color: black;">पूरा छात्र संगठन</h3>
                    <%= link_to '<i class="fa fa-lock fa-fw" aria-hidden="true"></i> Log In'.html_safe,"#loginModal","data-toggle" => "modal" , remote: true, onclick: "openLoginModal();", class: "btn btn-lg btn-red" %>
                    <%= link_to '<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Sign Up'.html_safe,"#loginModal","data-toggle" => "modal", remote: true, onclick: "openRegisterModal();", class: "btn btn-lg btn-red" %>
                
              </div>
              
            </div>
            <div class="modal fade login" id="loginModal">
                <div class="modal-dialog login animated">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-center">Login </h4>
                        </div>
                        <div class="modal-body">  
                            <div class="box">
                                 <div class="content">
                                   <!-- <div class="social">
                                        <a class="circle github" href="/auth/github">
                                            <i class="fa fa-github fa-fw"></i>
                                        </a>
                                        <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                            <i class="fa fa-google-plus fa-fw"></i>
                                        </a>
                                        <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                            <i class="fa fa-facebook fa-fw"></i>
                                        </a>
                                    </div>
                                    <div class="division">
                                        <div class="line l"></div>
                                          <span>or</span>
                                        <div class="line r"></div>
                                    </div>-->
                                    <div class="error"></div>
                                    <div class="form loginBox">
                                        <%= render 'partial/login' %>
                                    </div>
                                 </div>
                            </div>
                            <div class="box">
                                <div class="content registerBox" style="display:none;">
                                 <div class="form">
                                    <%= render 'partial/register' %>   
                                 </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="forgot login-footer">
                                <%= link_to "Forgot Password", new_password_path(resource_name) %><br />                                
                                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                                <span>Looking to 
                                     <a href="javascript: showRegisterForm();">create an account</a>
                                ?</span>
                            </div>
                            <div class="forgot register-footer" style="display:none">
                                 <span>Already have an account?</span>
                                 <a href="javascript: showLoginForm();">Login</a><br />
                                 <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                            </div>
                        </div>        
                    </div>
                </div>
            </div>
            <!-- End: Header -->
          </div>
          <div class="container">
            <!-- Start: Desc -->
            <div class="row me-row content-ct">
              <h1 class="row-title" style="color: #DD5138">Features...</h1>
              <div class="col-md-2 feature">
                <span class="ti-world"></span>
                <h3>Alumni around the globe!</h3>
                <p>The best opportunity to meet and greet alumni from our institute.</p>
              </div>
              <div class="col-md-2 feature">
                <span class="ti-gift"></span>
                <h3>Give back to College</h3>
                <p>Help your college and juniors to progress & prosper. </p>
              </div>
              <div class="col-md-2 feature">
                <span class="ti-id-badge"></span>
                <h3>Profiles</h3>
                <p>View the profiles of all students and alumni.</p>
              </div>
              <div class="col-md-2 feature">
                <span class="ti-announcement"></span>
                <h3>News</h3>
                <p>View the latest news and announcements related to the institute, students and alumni. To submit a news, simply <a href="mailto:mnnitalumni@mnnit.ac.in">email us</a>.</p>
              </div>
              
              <div class="col-md-2 feature">
                <span class="ti-comment"></span>
                <h3>Feedback</h3>
                <p>Your feedback is invaluable to us. Feel free to critique and suggest possible improvisations.</p>
              </div>

              <div class="col-md-2 feature">
                <span class="ti-more"></span>
                <h3>More to explore..</h3>
                <p>More features yet to come.</p>
              </div>
              
            </div>
        </div>  
        <hr>
<% end %>          
<!-- Page Content -->
<div class="container-fluid" style="margin-top: -20px; padding-bottom: 50px; background-image: url('assets/background1.png'); background-color: rgba(255,255,255,0.9); background-repeat: no-repeat; background-size: cover; ">
    <div id="t3-mainbody" class="container t3-mainbody" style="opacity: 1">
        <div class="main-container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <!-- MAIN CONTENT -->
                <div id="t3-content" class="t3-content col-xs-12 col-md-12 " style="margin-top: 20px; background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
                <!-- CONTENT MASS TOP -->
                        <div class="content-mass-top ">
                            <div class="t3-module module " id="Mod98">
                                <div class="module-inner">
                                    <h3 class="module-title "><span><span class="fa fa-newspaper-o"></span> News and Announcements</span><hr></h3>
                                    <div class="module-ct">
                                        <div class="ja-sidenews-list clearfix">
                                            <% if @newses.empty? %>
                                                <div class="ja-slidenews-item">
                                                    <a class="ja-title" href="#">No News!!</a>
                                                </div>
                                            <% else %>
                                                <div id="newses">  
                                                    <%= render 'news/index' %>
                                                </div>
                                            <% end %>    

                                         <% if user_signed_in? and current_user.is_admin == true %>
                                            <div class="text-center">
                                                <%= link_to "Create News", new_news_path , class: "btn btn-lg btn-red" %>
                                            </div>  
                                         <% end %>  
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- CONTENT MASS TOP -->

                </div>
                <div class="t3-sidebar col-xs-12 col-sm-12" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;margin-top: 20px;">
                    <div class="t3-module module search-course " id="Mod119">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-briefcase"></span> Jobs and Internships<hr></span></h3>
                            <div class="col-sm-12" style="border-bottom: 1px solid #efece1;">

                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="#" style="color: #1E7896">
                                        <b>Proponents say Everyday Math adds up, though some don't understand how</b></a>
                                    <span class="ja-createdate"><b>APPLY BY:</b>  Monday, 13 August 2012 </span>

                                    <button class="btn btn-info" style="background: #2d4360;float: right;border: none;margin-bottom: 10px;">APPLY</button>
                                </div>

                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="#" style="color: #1E7896">
                                        <b>Proponents say Everyday Math adds up, though some don't understand how</b></a>
                                    <span class="ja-createdate"><b>APPLY BY:</b>  Monday, 13 August 2012 </span>


                                    <button class="btn btn-info" style="background: #2d4360;float: right;border: none;margin-bottom: 10px;">APPLY</button>
                                </div>
                                 <% if user_signed_in? %>
                                            <div class="text-center">
                                                <%= link_to "Submit Job", new_news_path , class: "btn btn-lg btn-red" %>
                                            </div>  
                                         <% end %>  
                                        

                            </div>
                        </div>
                    </div>
                </div>
                </div><!--left col end -->

                <div class="col-sm-12 col-md-6">
                         <!-- //MAIN CONTENT -->
                <div class="t3-sidebar col-xs-12 col-sm-12  " style="margin-top: 20px; background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
                    <div class="t3-module module search-course " id="Mod119">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-star"></span> Highlights <hr></span></h3>
                            <div class="col-sm-12" style="border-bottom: 1px solid #efece1;">
                            <% if Convention.any? %>
                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="<%= convention_path(Convention.last.id) %>" style="color: #1E7896">
                                        <b>Alumni Convention <%= Convention.last.year.year %></b>
                                    </a>
                                </div>
                            <% end %>    
                                <div class="ja-slidenews-item">

                                  <a class="ja-title" href="<%= idcard_path %>" style="color: #1E7896">
                                        <b>Request for Id-cards</b>
                                    </a>
                                </div>

                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="<%= new_user_registration_path %>" style="color: #1E7896">
                                        <b>Registration Link</b>
                                    </a>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t3-sidebar col-xs-12 col-sm-12" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;margin-top: 20px;">
                    <div class="t3-module module search-course " id="Mod119" style="margin-bottom: 0">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-calendar"></span> Upcoming Events</span><hr></h3>


                            <div class="row">
                                <div class="col-sm-4" style="border-right: 1px solid #efece1;">
                                    <center>
                                        <div class="col-sm-12">
                                            <p style="font-size: 3.5rem;line-height: 2.5rem;font-weight: bold;margin-bottom: 2px;color: #2d4360;">22</p>
                                        </div>
                                    </center>
                                    <center>
                                        <div class="col-sm-12">Nov, 2016</div>
                                    </center>
                                </div>
                                <div class="col-sm-8">
                                    <p style="color: #1E7896;font-size: 16px">Alumni Convention </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div><!--right col end -->
                

                
           
            </div>

        </div>
    </div>
</div>    
