
<% if !user_signed_in? %>
    <div class="container-fluid" style="margin-top: -20px;">
        <!-- Start: Header -->
        <div class="row hero-header fill" style="background-image:url(<%= asset_path 'head.png' %>);min-height: 382px;">
          <!--<div class="col-md-12 text-center " style="margin-top: -80px; padding-top: -50px;">
            <h1 ><span style="color:rgb(252, 217, 59)">पुरा छात्र संगठन<br>MNNIT Alumni Association</span></h1>
          </div>-->
        </div>
        
        <!-- End: Header -->
    </div>


    <div class="container-fluid" style="background-color:white;margin-bottom:2px;margin-top:2px;" >
            <!-- Start: Desc -->
            <div class="row me-row content-ct" style="margin-bottom:-35px;margin-top:-35px;">
              <h1 class="row-title"><span style="color: #DD5138; font-size: 30px;margin:0 ">Features...</span></h1>
              <div class="col-md-2 feature" style="margin-bottom:-15px;margin-top:-15px;">
                <%= link_to '<span class="ti-world" style="font-size:30px"></span>'.html_safe, new_search_path %>
                <h4><b>Alumni around the globe!</b></h4>
                <p style="font-size:13px">The best opportunity to search alumni.</p>
              </div>
              <div class="col-md-2 feature"  style="margin-bottom:-15px;margin-top:-15px;">
                <%= link_to '<span class="ti-gift" style="font-size:30px"></span>'.html_safe, fund_path %>
                <h4><b>Give back to College</b></h4>
                <p style="font-size:13px">Help your college and juniors to progress & prosper. </p>
              </div>
              <div class="col-md-2 feature"  style="margin-bottom:-15px;margin-top:-15px;">
                <%= link_to '<span class="ti-briefcase" style="font-size:30px"></span>'.html_safe, "#jobs" %>
                <h4><b>Jobs</b></h4>
                <p style="font-size:13px">View the latest job openings.</p>
              </div>
              <div class="col-md-2 feature"  style="margin-bottom:-15px;margin-top:-15px;">
                <%= link_to '<span class="ti-announcement" style="font-size:30px"></span>'.html_safe, "#news" %>
                <h4><b>News</b></h4>
                <p style="font-size:13px">View the latest news related to the institute.</p>
              </div>
              
              <div class="col-md-2 feature"  style="margin-bottom:-15px;margin-top:-15px;">
                <%= link_to '<span class="ti-comment" style="font-size:30px"></span>'.html_safe, new_feedback_path %>
                <h4><b>Feedback</b></h4>
                <p style="font-size:13px">Your feedback is invaluable to us.</p>
              </div>

              <div class="col-md-2 feature"  style="margin-bottom:-15px;margin-top:-15px;">
                <%= link_to '<span class="ti-more" style="font-size:30px"></span>'.html_safe, coming_soon_path %>
                <h4><b>More to explore..</b></h4>
                <p style="font-size:13px">More features yet to come.</p>
              </div>
              
            </div>
        </div>  
<% end %>          
<!-- Page Content -->
<div class="container-fluid" style="margin-top: -20px; padding-bottom: 50px;">
    <div id="t3-mainbody" class="container t3-mainbody" style="opacity: 1">
        <div class="main-container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <!-- MAIN CONTENT -->
                
                <div id="t3-content" class="t3-content col-xs-12 col-md-12 " style="margin-top: 20px; background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
                <!-- CONTENT MASS TOP -->
                        <div class="content-mass-top ">
                            <div class="t3-module module " id="news">
                                <div class="module-inner">
                                    <h3 class="module-title "><span><span class="fa fa-newspaper-o"></span> News and Announcements</span><hr></h3>
                                    <div class="module-ct">
                                        <div class="ja-sidenews-list clearfix">
                                            <% if @newses.empty? %>
                                                <div class="ja-slidenews-item">
                                                    <a class="ja-title" href="#">No News!!</a>
                                                </div>
                                            <% else %>
                                                <div id="newses">  
                                                    <%= render 'news/index' %>
                                                </div>
                                            <% end %>    
                                        <p>To submit a news, simply <a href="mailto:mnnitalumni@mnnit.ac.in">email us</a>.</p>
                                         <% if user_signed_in? and current_user.is_admin == true %>
                                            <div class="text-center">
                                                <%= link_to "Add News", new_news_path , class: "btn btn-lg btn-red" %>
                                            </div>  
                                         <% end %>  
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- CONTENT MASS TOP -->

                </div>
                
                
                </div><!--left col end -->

                <div class="col-sm-12 col-md-6">
                         <!-- //MAIN CONTENT -->
                <div class="t3-sidebar col-xs-12 col-sm-12  " style="margin-top: 20px; background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
                    <div class="t3-module module search-course " id="Mod119">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-star"></span> Highlights </span><hr></h3>
                            <div class="col-sm-12" style="border-bottom: 1px solid #efece1;">
                            <div class="ja-slidenews-item">

                                    <a class="ja-title" href="https://drive.google.com/open?id=0B0vedTS1g1ObYjNKSi1wOUNncms" style="color: #1E7896; font-family: 'Dosis'; " target="_blank">
                                        <b>Alumni Convention 2016 - Album</b>
                                    </a>
                                </div>
                            <% if Convention.any? %>
                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="<%= convention_path(Convention.last.id) %>" style="color: #1E7896; font-family: 'Dosis'; ">
                                        <b>Alumni Convention <%= Convention.last.year.year %></b>
                                    </a>
                                </div>
                            <% end %>    
                                <div class="ja-slidenews-item">

                                  <a class="ja-title" href="<%= idcard_path %>" style="color: #1E7896">
                                        <b>Request for Id-cards</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--<div class="t3-sidebar col-xs-12 col-sm-12" style="background: rgba(4, 251, 12, 0.12);box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;margin-top: 20px;">
                    <div class="t3-module module search-course " id="Mod119" style="margin-bottom: 0">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-calendar"></span> Upcoming Events</span><hr></h3>


                            <div class="row">
                                <div class="col-sm-4" style="border-right: 1px solid #efece1;">
                                    <center>
                                        <div class="col-sm-12">
                                            <p style="font-size: 3.5rem;line-height: 2.5rem;font-weight: bold;margin-bottom: 2px;color: #2d4360;">22</p>
                                        </div>
                                    </center>
                                    <center>
                                        <div class="col-sm-12">Nov, 2016</div>
                                    </center>
                                </div>
                                <div class="col-sm-8">
                                    <p style="color: #1E7896;font-size: 16px">Alumni Convention </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="t3-sidebar col-xs-12 col-sm-12" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;margin-top: 20px;">
                    <div class="t3-module module search-course " id="jobs">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-briefcase"></span> Jobs and Internships<hr></span></h3>
                            <% if !user_signed_in? or current_user.is_active == false %>
                                <div class="col-sm-12" style="background-image: url(<%= asset_path 'jobbg.png' %>);height: 200px;background-size: cover">
                                    <div class="col-sm-12" style="margin-top:10%;">
                                        <center><h2 style="color: #DD5138;font-weight: bolder;">
                                            <%if !user_signed_in? %>
                                                Login to view Job Postings.
                                            <% else %>
                                                <% if current_user.is_active==false and user_signed_in?%>
                                                    Activate your account to view Job postings.
                                                <%end%>
                                            <%end%>
                                        </h2></center>
                                    </div>
                                </div>
                            <%else%>
                            <div class="col-sm-12">

                                <% if @jobs.empty? %>
                                    <div class="ja-slidenews-item">
                                        <b class="ja-title">Job Posting Awaited.</b>
                                    </div>
                                <% else %>
                                    <div id="jobs">  
                                        <%= render 'jobs/index' %>
                                    </div>
                                <% end %>   
                                <p>To post a Job/Internship, contact administration team.<a href="mailto:mnnitalumni@mnnit.ac.in">email us</a>.
                                <% if user_signed_in? and current_user.is_admin == true %>
                                    <div class="text-center">
                                        <%= link_to "Add Job", new_job_path , class: "btn btn-lg btn-red" %>
                                    </div>
                                <%end%>
                                
                                     
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                </div><!--right col end -->
                

                
           
            </div>

        </div>
    </div>
</div>    
