<header id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="opacity: 0.9;">
        
        <div class="item active">
            <div class="fill" style="background-image:url(<%= asset_path '1.jpg' %>);"></div>
            
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(<%= asset_path '3.jpg' %>);"></div>
            
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(<%= asset_path '2.jpg' %>);"></div>
            
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(<%= asset_path '4.jpg' %>);"></div>
            
            
        </div>
        
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

    <div class= " col-md-8 col-md-offset-2 header-one" >
        <h1><span>MNNIT Alumni Association</span></h1>
        <p class="subtext">Welcomes You!</p>
    </div>
</header>
<hr>
<!-- Page Content -->
    <div class="container" style="margin-top: -10px;">
    
        <!-- Marketing Icons Section -->

        
        <div id="t3-department">
            <div class="container department">
                <div class="main">
                    <div class="custom">
                        <div class="department-list">
                            <center>
                                <div class="col-lg-12" style="margin-top: -50px;">
                                    <h2 class="page-header" > Features </h2>                
                                </div>
                                <ul class="department-list">
                                    <li class="icon-8"><%= link_to "News", coming_soon_path %>  <span class="department-name">News & Events</span></li>
                                    <li class="icon-6"> <%= link_to "Forums", coming_soon_path %> <span class="department-name">Forums</span></li>
                                    <li class="icon-1"><%= link_to "Jobs", coming_soon_path %>  <span class="department-name"><br>Jobs</span></li>
                                    <li class="icon-2"><%= link_to "Give Back", fund_path %>  <span class="department-name">Give Back</span></li>
                                    <!--<li class="icon-2"><a href="accounting" title="Sample">Accounting</a> <span class="department-name">Accounting</span></li>
                                   <li class="icon-3"><a href="economics" title="Sample">Economics</a> <span class="department-name">Economics</span></li>-->
                                   <li class="icon-4"><%= link_to "Profile", coming_soon_path %>  <span class="department-name">Profile</span></li>
                                   <li class="icon-7"><%= link_to "Search Alumni", new_search_path %>  <span class="department-name">Search Alumni</span></li>
                                    
                                </ul>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="t3-mainbody" class="container t3-mainbody">
        <div class="main-container">
            <div class="row">
                <!-- MAIN CONTENT -->
                <div id="t3-content" class="t3-content col-xs-12 col-md-6" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
                    <!-- CONTENT MASS TOP -->
                    <div class="content-mass-top ">
                        <div class="t3-module module " id="Mod98">
                            <div class="module-inner">
                                <h3 class="module-title "><span><span class="fa fa-newspaper-o"></span> News and Announcements</span><hr></h3>
                                <div class="module-ct">
                                    <div class="ja-sidenews-list clearfix">
                                        <div class="ja-slidenews-item">
                                            <a class="ja-title" href="news-and-events/103-proponents-say-everyday-math-adds-up-though-some-don-t-understand-how.html">Proponents say Everyday Math adds up, though some don't understand how</a>
                                            <span class="ja-createdate">Monday, 13 August 2012 </span> Nunc luctus neque eu orci adipiscing porttitor. Donec consectetur ante in turpis...
                                        </div>
                                        <div class="ja-slidenews-item">
                                            <a class="ja-title" href="news-and-events/102-forget-about-the-mandate-let-s-fix-health-care.html">Forget about the mandate. Let’s fix health care</a>
                                            <span class="ja-createdate">Monday, 13 August 2012 </span> Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum....
                                        </div>
                                        <div class="ja-slidenews-item">
                                            <a class="ja-title" href="news-and-events/101-creative-essay-challenge-inspires-college-community.html">Creative essay challenge inspires College community</a>
                                            <span class="ja-createdate">Monday, 13 August 2012 </span> Ut in lobortis Nulla Sed augue Morbi sem consequat a quis. Dui Quisque Aenean Vivamus...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CONTENT MASS TOP -->

                </div>
                <!-- //MAIN CONTENT -->
                <div class="t3-sidebar col-xs-12 col-sm-5 col-sm-push-1" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
                    <div class="t3-module module search-course " id="Mod119">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-briefcase"></span> Jobs and Internships<hr></span></h3>
                            <div class="col-sm-12" style="border-bottom: 1px solid #efece1;">

                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="#" style="color: #1E7896">
                                        <b>Proponents say Everyday Math adds up, though some don't understand how</b></a>
                                    <span class="ja-createdate"><b>APPLY BY:</b>  Monday, 13 August 2012 </span>

                                    <button class="btn btn-info" style="background: #2d4360;float: right;border: none;margin-bottom: 10px;">APPLY</button>
                                </div>

                                <div class="ja-slidenews-item">

                                    <a class="ja-title" href="#" style="color: #1E7896">
                                        <b>Proponents say Everyday Math adds up, though some don't understand how</b></a>
                                    <span class="ja-createdate"><b>APPLY BY:</b>  Monday, 13 August 2012 </span>


                                    <button class="btn btn-info" style="background: #2d4360;float: right;border: none;margin-bottom: 10px;">APPLY</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="t3-sidebar col-xs-12 col-sm-5 col-sm-push-1" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;margin-top: 20px;">
                    <div class="t3-module module search-course " id="Mod119" style="margin-bottom: 0">
                        <div class="module-inner">
                            <h3 class="module-title "><span><span class="fa fa-calendar"></span> Upcoming Events</span><hr></h3>


                            <div class="row">
                                <div class="col-sm-4" style="border-right: 1px solid #efece1;">
                                    <center>
                                        <div class="col-sm-12">
                                            <p style="font-size: 4.5rem;line-height: 3.5rem;font-weight: bold;margin-bottom: 2px;color: #2d4360;">13</p>
                                        </div>
                                    </center>
                                    <center>
                                        <div class="col-sm-12">June, 2016</div>
                                    </center>
                                </div>
                                <div class="col-sm-8">
                                    <p style="color: #1E7896;font-size: 16px">International Conference on web development</p>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5%; ">
                            <div class="col-sm-4" style="border-right: 1px solid #efece1;">
                                <center>
                                    <div class="col-sm-12">
                                        <p style="font-size: 4.5rem;line-height: 3.5rem;font-weight: bold;margin-bottom: 2px;color: #2d4360;">15</p>
                                    </div>
                                </center>
                                <center>
                                    <div class="col-sm-12">December, 2016</div>
                                </center>
                            </div>
                            <div class="col-sm-8">
                                <p style="color: #1E7896;font-size: 16px">International Conference on web development</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <!--    <div class="col-lg-12">
            <h2 class="page-header">News</h2>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.2.0</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-info">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-warning">Learn More</a>
                </div>
            </div>
        </div>
	    -->
        <!-- /.row -->

        <!-- Portfolio Section -->
       <!-- <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Gallery</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        -->
        <!-- /.row -->

        <!-- Features Section -->
        <!--<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.2.0</strong>
                    </li>
                    <li>jQuery v1.11.0</li>
                    <li>Font Awesome v4.1.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>-->
        <!-- /.row -->

        

        <!-- Call to Action Section -->
        <!-- <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>
        -->
    </div>    

<script type="text/javascript">
    
    $('.carousel').carousel({
        interval: 1000 //changes the speed
    });
</script>

