<script type="text/javascript">
	$(function () {
	  $('#datetimepicker2').datetimepicker({
	      viewMode: 'years',
	      format: 'YYYY'
	  });
	});
</script>>

<div class="container">	
	<h1> Search Alumni </h1>
	<%= form_for @search do |f| %> 
		<div class="form-inputs">
          <div class="form-group">
            <%= f.label :fname, "First Name" %><br />
            <%= f.text_field :fname, class: "form-control", :autofocus => true %>
          </div>
          <div class="form-group">
            <%= f.label :lname, "Last Name" %><br />
            <%= f.text_field :lname, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :degree %><br />
            <%= f.select :degree, options_for_select(@degrees),include_blank: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :branch %><br />
            <%= f.select :branch,options_for_select([['Bio-Tech.','BT'], ['Civil Engg.','CE'], ['Chemical Engg.','CHE'], ['Computer Science','CS'], ['Mechanical Engg.','ME'], ['Production and Industrial Engg.','PE'], ['Electrical Engg.','EE'], ['Electronics and Communication Engg.','ECE'], ['Information Tech.','IT'], ['Applied Mechanics','AM'], ['Bio Med. Engg.','BM'], ['Communication Sys.','COM'], ['Computer Aided Design and Manufacturing','CAD'], ['Control and Instrumentation/Power Sys.','CIS'], ['Control and Instrumentation (Part time)','CISP'], ['Design(ME)','DE'], ['Digital Sys.','DS'], ['Environmental Engg.','ENV'], ['Fluids Engg.','FE'], ['Geotechnical Engg.','GE'], ['GIS and Remote Sensing','GIS'], ['Information Security','IS'], ['Material Sci. and Engg.','MSE'], ['Micro-electronics and VLSI Design','MEV'], ['Power Electronics and ASIC Design (Part time)','PEDP'], ['Power Electronics and ASIC Design','PED'], ['Product Design and Development','PDD'], ['Bio-Tech. Dept.','BTD'], ['Chemistry Dept.','CHD'], ['Electrical Engg. Dept.','EED'], ['Electronics and Communication Dept.','ECD'], ['Humanities and Social Sci.','HSS'], ['Management Studies','MS'], ['Mathematics Dept.','MD'], ['Mechanical Engg. Dept.','MED'], ['Civil Engg. Dept.','CED'], ['Computer Sci. and Engg. Dept.','CSD'], ['Applied Mechanics Dept.','AMD']]),include_blank: true, class: "form-control" %>
          </div>
          <div class=" form-group">
            <%= f.label :year_of_passing, "Year of Passing" %><br />
            <div class='input-group date' id='datetimepicker2'>
              <%= f.text_field :year_of_passing, class: "form-control"%>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div> 
          <div class="form-group">
            <%= f.label :city, "City" %><br />
            <%= f.text_field :city, class: "form-control" %>
          </div>
		  <div class="form-group">
            <%= f.label :company, "Working Organisation" %><br />
            <%= f.text_field :company, class: "form-control" %>
          </div>   
	
	      <p> <%= f.submit "Search", class: "btn btn-md btn-danger" %> </p>
		</div>      
	<% end %>	
</div>		  