<script type="text/javascript">
  $(function () {
      $('#datetimepicker3').datetimepicker({
          format: 'YYYY-MM-DD'
      });
  });
</script>  

<div class="col-md-4 col-md-offset-4 text-center">
    <h3>Create Convention</h3>
    <hr>
    <%= form_for @convention, html: { multipart: true, id: "conventionForm", method: :post} do |f| %>
		<%- if @convention.errors.any? %>
			<div id="errors">
				<h2>
					<%= pluralize(@convention.errors.count, "Error") %>
					Prevented this query from saving.
				</h2>	
					<ul>
						<%  @convention.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>	
					</ul>				
			</div>
		<% end %>			
		<div class="form-group">
			<%= f.label :year, "Year" %>
			<%= f.date_select :year, {:start_year => Time.now.year , :end_year => Time.now.year + 10, :discard_day => true, :discard_month => true}, { class: "form-control" } %>
		</div>
		
        <div class=" form-group">
            <%= f.label :start_date, "Start Date" %><br />
            <div class=' date' >
              <span class="datetime"><%= f.date_select  :start_date,{:start_year => Time.now.year , :end_year => Time.now.year + 15 }, { class: "form-control" } %></span>
            </div>
        </div>
		<%= f.submit "Create", class: "btn btn-lg btn-red" %>
	<% end %>	
    
</div>