<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

<script>


  

  function doBlink() {
 
    var blink = document.getElementById('typed5');
    if(blink)
    blink.style.visibility = blink.style.visibility == "" ? "hidden" : "" ; 
 

    blink = document.getElementById('typed7');
    if(blink)
    blink.style.visibility = blink.style.visibility == "" ? "hidden" : "" ; 
}

function startBlink() {

    setInterval("doBlink()",900) ;

}
setTimeout("startBlink()",800);


  $(function(){
      $("#typed6").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings6'),
            typeSpeed: 200,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });




 $(function(){
      $("#typed7").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings7'),
            typeSpeed: 200,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });





 $(function(){
      $("#typed8").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings8'),
            typeSpeed: 200,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });




    $(function(){
      $("#typed1").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings1'),
            typeSpeed: 1,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){ped
            $("#typed").typed('reset');
        });

    });



    $(function(){
      $("#typed2").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings2'),
            typeSpeed: 1,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });


    $(function(){
      $("#typed").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings'),
            typeSpeed: 1,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });



$(function(){
      $("#typed5").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings5'),
            typeSpeed: 1,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    $(function(){
      $("#typed4").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings4'),
            typeSpeed: 1,
            backDelay: 1500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
           
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

 



</script>
<style type="text/css">
    .navbar{
    margin-bottom: 0px;
}
.modal-content
{

     font-family: 'Dosis', sans-serif;
     color: black;
     font-size:small;
     background-color: white;

}

.modal-title
{
     font-style:oblique;
}
.close{
    color:white;
}
.modal-body .row .col-sm-2:nth-child(4)
{
    display: none;
}
.modal-body .row .col-sm-2:nth-child(2)
{
    margin-left: 15%;
}
.mainnav li{
    letter-spacing: 0;  
    margin-left: 3%;
  }
  .mainnav .nav{
    background-color: white;
  }
  .mainnav .nav-tabs > li > a{
    color: #46535e;
    text-transform: uppercase;
  }
  .mainnav .nav-tabs > li > a:hover,.nav > li > a:focus{
    color: #4c9cdf;
    border: none;
    background-color: white;
  }
  
  .mainnav .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    color: #4c9cdf ;
    border:none;
    border-bottom: 7px solid #4c9cdf;
  }
</style>
<!--<nav class="side-menu">
    <ul>
      <li class="hidden active">
          <a class="page-scroll" href="#page-top"></a>
      </li>
      <li>
          <a href="#abt" class="page-scroll">
            <span class="menu-title">About Convention </span>
            <span class="dot"></span>
          </a>
      </li>
      <li>
          <a href="#past" class="page-scroll">
            <span class="menu-title">Past Conventions</span>
            <span class="dot"></span>
          </a>
      </li>
       
      <li>
          <a href="#gallery" class="page-scroll">
            <span class="menu-title">Gallery</span>
            <span class="dot"></span>
          </a>
      </li>
    </ul>
</nav>-->

<div class="container-fluid" style="padding-right:0;padding-left:0;">
    <div class="jumbotron" style="min-height: 300px;background-image: url(<%= asset_path 'map.jpg' %>);background-size: cover;background-repeat:no-repeat;background-position:center;border-radius:0;">
        <div class="container-fluid">
                

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4" style="margin-left: -3%;">
                             <div class="type-wrap">
                                    <div class="col-sm-12" style="margin: 0;padding: 0;"> 
                                        <div class="col-sm-9" style="margin: 0;padding: 0;padding-left: 0%;">
                                            <div id="typed-strings1">
                                            <p>Connect <strong>Today</strong> Transform <strong>Tommorrow</strong></p>
                                            <!--<p><strong>CONVENTION</strong></p>-->
                                            </div>
                                            <span id="typed1" class="quotes" style="white-space:pre;"></span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="type-wrap">
                                    <div class="col-sm-12" style="margin: 0;padding: 0;"> 
                                        <div class="col-sm-9" style="margin: 0;padding: 0;padding-left: 0%;">
                                            <div id="typed-strings2">
                                            <p>Back to the <strong>Past</strong> through <strong>Future</strong></p>
                                            <!--<p><strong>CONVENTION</strong></p>-->
                                            </div> 
                                            <span id="typed2" class="quotes" style="white-space:pre;"></span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row 1-->


                <div class="row" style="height: 150px;padding-top: 0px;">
                        <div class="col-sm-12">
                            <div class="col-sm-12 col-sm-offset-0">
                                    <div class="type-wrap">
                                        
                                        <div class="col-sm-12" style="margin: 0;padding: 0;padding-left: 18%;">
                                            <div id="typed-strings">
                                            <p>ALUMNI CONVENTION</p>
                                            </div>
                                            <div id="typed" style="margin-left: 0%"><center></center></div>
                                        </div>
                                        
                                    </div>
                            </div>
                        </div>
                </div><!-- row 2-->


                <div class="row">
                    <div class="col-sm-12">
                        <% if user_signed_in? and current_user.is_admin == true %>
                            <div class="col-sm-4 col-sm-offset-1" style="margin-left: -1%;">
                                 
                                <div id="typed-strings4">
                                    <p><span>Create Convention</span></p>
                                </div>
                                <center><a href="<%= new_convention_path %>" class="btn btn-lg but"><span id="typed4" style="white-space:pre;"></span></a></center>
                            </div>
                            <% if Convention.any? %>
                                <div class="col-sm-4 col-sm-offset-4 ">
                                     
                                    <div id="typed-strings5">
                                        <p>Convention <span><%= Convention.last.year.year %></span></p>
                                    </div>
                                    <center><a href="<%= convention_path(Convention.last.id) %>" class="btn btn-lg but"><span id="typed5" style="white-space:pre;"></span></a></center>
                                </div>
                            <% else %>
                                <div class="col-sm-2 col-sm-offset-4">
                                    <div class="type-wrap">
                                        <div class="col-sm-12" style="margin: 0;padding: 0;"> 
                                            <div class="col-sm-9" style="margin: 0;padding: 0;padding-left: 0%;">
                                                <div id="typed-strings6">
                                                <p>Never Forget Your <strong>Roots</strong></p>
                                                <!--<p><strong>CONVENTION</strong></p>-->
                                                </div>
                                                <span id="typed6" class="quotes" style="white-space:pre;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                            <% end %>    
                        <% else %>
                            <% if Convention.any? %>
                                <div class="col-sm-4 col-sm-offset-1" style="margin-left: -7%;">
                                     
                                    <div id="typed-strings7">
                                        <p><span>Convention <%= Convention.last.year.year %></span></p>
                                    </div>
                                    <center><a href="<%= convention_path(Convention.last.id) %>" class="btn btn-lg but"><span id="typed7" style="white-space:pre;"></span></a></center>
                                </div> 
                            <% end %>     

                            <div class="col-sm-2 col-sm-offset-6">
                                <div class="type-wrap">
                                    <div class="col-sm-12" style="margin: 0;padding: 0;"> 
                                        <div class="col-sm-8" style="margin: 0;padding: 0;padding-left: 0%;">
                                            <div id="typed-strings8">
                                            <p>Never Forget Your <strong>Roots</strong></p>
                                            <!--<p><strong>CONVENTION</strong></p>-->
                                            </div>
                                            <span id="typed8" class="quotes" style="white-space:pre;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>      
                        
                    </div>
                </div><!-- row 3-->

        </div>
    </div>
    <div class="container mainnav" >
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home" style="color: #016cc7;font-family: 'Dosis', sans-serif;">About Convention</a></li>
          <li><a data-toggle="tab" href="#menu2" style="color: #016cc7;font-family: 'Dosis', sans-serif;">Past Conventions</a></li>

        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active" style="margin-top:5px;">
                <div class="row" style="background-color: white; margin-left:0px;margin-right:0px; ">
                    <div class="col-lg-12">
                        <h2 class="page-header text-center" style="color: #016cc7;font-family: 'Dosis', sans-serif;"><b>About Convention</b></h2>
                    </div>
                    <div class="col-sm-12">
                        <p style="font-family: 'PT Sans Narrow', sans-serif;color:#666;font-size: 18px">The Global Alumni Convention of MNNIT Allahabad is conducted every year, normally in the month of November to promote the Institute-Alumni interaction. This is an occasion to renew our association with the Alma mater, meet our old buddies and families, to see the new developments in the institute after the college life and of course, to plan our own contribution towards growth of the Alma mater. The general body meeting of MNNIT Alumni Association (MAA) takes place in this convention to identify the welfare activities for either of the stakeholders. The Executive Committee of MAA is also elected in this convention, biennially.</p>
                        
                    </div>
                </div> 
            </div>       
            <div id="menu2" class="tab-pane fade" style="margin-top:5px;">
                <div class="row" style="background-color: white;margin-left:0px;margin-right:0px; ">
                    <div class="col-lg-12">
                        <h2 class="page-header text-center" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Past Convention</b></h2>
                    </div>
                    <div class="col-sm-10 "> 
                       <div class="col-sm-12" style="margin-top:1%">
                              <ul class="cbp_tmtimeline">
                                    <li>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                            <h2 style="font-size: 20px; padding-top:10px" >&nbsp;&nbsp;Convention - 2015</h2>
                                            <p>
                                                <ul>
                                                  <!--  <li><p><b>VENUE :</b> Motilal Nehru National Institute of Technology, Allahabad</p></li>-->
                                                    <li><p><b class="time_title">DURATION :</b> 2 Days</p></li>
                                                    
                                                    <li><p><b class="time_title">KEYNOTE SPEAKER :</b> Er. Kulbir Singh (Guest Of Honour), CMD, Roger Group, Roger Industries Ltd. Agra</p></li> 
                                                    <div class="row"><div class="past_conv col-sm-2 col-sm-offset-4"><strong><button style="color: #25374f;" class="btn timebutton" data-toggle="modal" data-target="#conv2015"  ><strong>View Sponsors</strong></button></strong></div></div>
                                                </ul>

                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                            <h2 style="font-size: 20px" >&nbsp;&nbsp;Convention - 2014</h2>
                                            <p>
                                                <ul>
                                                    <!--  <li><p><b>VENUE :</b> Motilal Nehru National Institute of Technology, Allahabad</p></li>-->
                                                    <li><p><b class="time_title">DURATION :</b> 2 Days</p></li>
                                                   <li><p><b class="time_title">KEYNOTE SPEAKER :</b> Er. Pradeep Srivastava, (Chief Guest), Chancellor, Baddi University, Solan, Himachal Pradesh</p></li> 
                                                   <div class="row"><div class="past_conv col-sm-2 col-sm-offset-4"><strong><button data-toggle="modal" data-target="#conv2014" style="color: #25374f;" class="btn timebutton"><strong>View Sponsors</strong></button></strong></div></div>
                                                </ul>
                                                
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                            <h2 style="font-size: 20px">&nbsp;&nbsp;Convention - 2013</h2>
                                            <p>
                                                <ul>
                                                    <!--  <li><p><b>VENUE :</b> Motilal Nehru National Institute of Technology, Allahabad</p></li>-->
                                                    <li><p><b class="time_title">DURATION :</b> 2 Days</p></li>
                                                    <li><p><b class="time_title">KEYNOTE SPEAKER : </b>Prof. Bharat Raj Singh, Director, School Of Management Services, Lucknow</p></li> 
                                                   <div class="row"><div class="past_conv col-sm-2 col-sm-offset-4"><strong><button style="color: #25374f;" class="btn timebutton" data-toggle="modal" data-target="#conv2013"><strong>View Sponsors</strong></button></strong></div></div>
                                                </ul>
                                                
                                            </p>
                                        </div>
                                    </li>
                              </ul>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>  
         


    <!--<div class="col-sm-12"  id="abt">
        <div class="col-sm-10 col-sm-offset-1" >
             <div class="col-sm-12 head"><center><h1 style="font-family: 'Dosis', sans-serif;color:#333;font-size:40px;">About Convention</h1></center></div>
             <div class="col-sm-12">
                <p style="font-family: 'PT Sans Narrow', sans-serif;color:#666;font-size: 18px">The Alumni Association was first constituted in the Silver Jubilee year (1986-87) of erstwhile Motilal Nehru Regional Engineering College (MNREC), Allahabad. It was possible due to the active leadership of the former principal, Dr. Y.V.N. Rao.<br>Alumni Convention is held every year probably in the second week of November. Alumni Convention-2016 is scheduled on November 12-13, 2016.<br> Celebrating participants are <b>Golden Jubilee Batch</b> (50 years of their passing out), <b>Silver Jubilee Batch</b> (25 years of their passing out) and <b>Dosti ke 50 Varsh</b>. All the alumni are invited to participate in the convention.<br>In the present Alumni Convention – 2016, 1991 batch celebrates its ‘Silver Jubilee’ while entrant batches 1963-66 will celebrate ‘Dosti Ke 50 Varsh’.<br><br>
                <ul>
                    <li>
                        <p style="font-family: 'PT Sans Narrow', sans-serif;color:#666;font-size: 18px"><font size="5.5"><b><u><i>History of Alumni Convention.</i></u></b></font><br> The first Alumni Convention of MNREC Allahabad has held in April 1987. The next Alumni Convention took place after a long gap of 11 years, i.e., in the year 1998. In this convention a new executive committee of Alumni Association was elected as per the constitution framed in the year 1987.<br>Following these developments, Alumni Conventions were organized in subsequent years but not on a regular basis. The organization of regular Alumni Conventions started in the year 2006 in which Professor A. B. Samaddar, ex-Director of the Institute was quite instrumental.</p>
                    </li>
                    <li>
                        <p style="font-family: 'PT Sans Narrow', sans-serif;color:#666;font-size: 18px"><font size="5.5"><b><u><i>Why convention/importance of convention.</i></u></b></font><br>The association regularly organizes the global Alumni meet under the umbrella of ‘Alumni Convention’ in order to promote the institute-alumni interaction. The general body meeting takes place in order to identify the welfare activities for either of the stakeholders. The executive committee is also elected in this convention biennially.</p>
                    </li>
                </ul>
                </p>
             </div>
        </div>
    </div>-->


    <!--
    <div class="col-sm-12">
    <div class="col-sm-12" id="speakers">
         <div class="col-sm-12 head"><center><h1 style="font-family: 'Dosis', sans-serif;color:#333;font-size:40px;">Past Speakers</h1></center></div>
         <div class="row">
            
            
                <div class="col-sm-4 speakermainmaincol">
                    <div class="col-sm-12 speakermaincol">
                        <div class="row speakerrow">
                            <%= image_tag("/assets/speaker-1.png", alt: "MNNIT Alumni Association", class: "speakerimg") %>
                            <h3>Shri P. M. Bhardwaj</h3>
                            <p>Director (Production) Instrumentation Limited, Kota, Rajsthan.</p>
                        </div>           
                    </div>
                </div>

                 <div class="col-sm-4 speakermainmaincol">
                    <div class="col-sm-12 speakermaincol">
                        <div class="row speakerrow">
                            <%= image_tag("/assets/speaker-2.png", alt: "MNNIT Alumni Association", class: "speakerimg") %>
                            <h3>Shri Subhash Chandra</h3>
                            <p>Programme Manager at Westinghouse Nuclear Company, South Texas.</p>
                        </div>           
                    </div>
                </div>

                 <div class="col-sm-4 speakermainmaincol">
                    <div class="col-sm-12 speakermaincol">
                        <div class="row speakerrow">
                            <%= image_tag("/assets/speaker-3.png", alt: "MNNIT Alumni Association", class: "speakerimg") %>
                            <h3>Prof. Bharat Raj Singh</h3>
                            <p> Director, School of Management Services, Lucknow.</p>
                        </div>           
                    </div>
                </div>

                 <div class="col-sm-4 col-sm-offset-2 speakermainmaincol">
                    <div class="col-sm-12 speakermaincol">
                        <div class="row speakerrow">
                            <%= image_tag("/assets/speaker-1.png", alt: "MNNIT Alumni Association", class: "speakerimg") %>
                            <h3>Er. Pradeep Srivastava</h3>
                            <p>Chancellor, Baddi University, Solan, Himanchal Pradesh.</p>
                        </div>           
                    </div>
                </div>

                 <div class="col-sm-4 speakermainmaincol">
                    <div class="col-sm-12 speakermaincol">
                        <div class="row speakerrow">
                            <%= image_tag("/assets/speaker-2.png", alt: "MNNIT Alumni Association", class: "speakerimg") %>
                            <h3>Er. Kulbir Singh</h3>
                            <p> CMD, Roger Group, Roger Industries Ltd. Agra.</p>
                        </div>           
                    </div>
                </div>

         
         </div>
    </div>
    </div>
    -->



    


    <div class="col-sm-12" id="gallery" ></div>
    <div class="col-sm-10 col-sm-offset-1"> 
        <div class="col-sm-12 head"><center><h1 style="font-family: 'Dosis', sans-serif;color:#333;font-size:40px;">Gallery</h1></center></div>

        <div class="col-sm-12">
            <div id="grid-gallery" class="grid-gallery">
                <section class="grid-wrap">
                    <ul class="grid">
                        <center><li class="grid-sizer"></li><!-- for Masonry column width -->
                        <li>
                            <figure>
                                <img src = '<%= asset_path("thumb/1.jpg") %>'/>                               
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("thumb/2.jpg") %>'/>                               
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("thumb/3.jpg") %>'/>                               
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("thumb/4.jpg") %>'/>                               
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("thumb/5.jpg") %>'/>                               
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("thumb/6.jpg") %>'/>                               
                            </figure>
                        </li>
                        
                        </center>
                    </ul>
                </section><!-- // grid-wrap -->
                <section class="slideshow">
                    <ul>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("large/1.jpg", alt: "img01") %>'/>
                            </figure>
                        </li>   
                        <li>
                            <figure>
                                <img src = '<%= asset_path("large/2.jpg", alt: "img02") %>'/>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("large/3.jpg", alt: "img03") %>'/>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("large/4.jpg", alt: "img04") %>'/>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("large/5.jpg", alt: "img05") %>'/>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src = '<%= asset_path("large/6.jpg", alt: "img06") %>'/>
                            </figure>
                        </li>
                        
                    </ul>
                    <nav>
                        <span class="icon nav-prev"></span>
                        <span class="icon nav-next"></span>
                        <span class="icon nav-close"></span>
                    </nav>
                    <div class="info-keys icon">Navigate with arrow keys</div>
                </section><!-- // slideshow -->
            </div><!-- // grid-gallery -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    });
</script>

<!-- MODAL BODY STARTING -->
           <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="conv2015">
                 <input type="hidden" id="invisible" value="">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sponsors - Convocation 2015</h4>
                      </div>
                      <div class="modal-body" id="wholemodal">


                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Sponsors</strong>
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Amount</strong>
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Type</strong>
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Sponsored By</strong>
                       </div>
                       </div>
                       <hr>
   


                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                        M/s Roger Industries Limited<br> Agra (UP)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        3,00,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Platinum
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. Kulbir Sinmgh<br>(1969 -EE)
                       </div>
                       </div>
                        <br>
  

                        <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                       M/s Allahabad Bank (Allahabad Br.)<br>(Bhopal Branch)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        50,000<br><br>2,50,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Platinum
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. Neelam Shami Rao <br>IAS<br>(1990-ECE)
                       </div>
                       </div>
                        <br>




                         <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                       M/s MOIL LIMITED(A Government Undertaking)<br>Nagpur
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        1,96,000<br>(excl TDS 4,000/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Gold
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. Sheo Shekhar Shukla IAS<br>(1990-ME)
                       </div>
                       </div>
                        <br>
  





                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      NMDC Limited<br>Hyderabad
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        98,000<br>(excl TDS 2,000/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Silver
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Alumni 1990 Batch
                       </div>
                       </div>
                        <br>
                         
  


                     





                      <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      M/s Larsen & Toubro Limited<br>ESP Sales<br>Lucknow
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        98,000<br>(excl TDS 2,000/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Silver
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. Rajesh Khanna<br>(1990-PIE)
                       </div>
                       </div>
                        <br>




                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                       M/s Dave Powertech <br>Pvt. Ltd., Lucknow
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        15,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. Rajesh Khanna<br>(1990-PIE)
                       </div>
                       </div>
                        <br>
  





                       
                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      M/s Bhagwat Prasad Sharma
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        15,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. G. C. Dubey<br>(1982-CE)
                       </div>
                       </div>
                        <br>
  







                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      CMC Pvt. Ltd.<br>Delhi
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        45,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. Pramod Khanna<br>(1965-ME)
                       </div>
                       </div>
                        <br>
  





                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      Rural Electrification Corporation Ltd.<br>New Delhi
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        44,100<br>(excl TDS 900/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Alumni 1990 Batch
                       </div>
                       </div>
                        <br>
  


                        <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      Corporate Communication <br>Faridabad (Haryana)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        44,100<br>(excl TDS 900/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Alumni 1990 Batch
                       </div>
                       </div>
                        <br>
  





                         <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      M/s Bharat Heavy Electricals
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        15,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Alumni 1990 Batch
                       </div>
                       </div>
                        <br>


                     
  



                           <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      M/s Rashtriya Ispat Nigam Limited<br>Vizag
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        44,100<br>(excl TDS 900/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Alumni 1990 Batch
                       </div>
                       </div>
                        <br>
  




                        <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      SJVN Limited<br>New Shimla, Shimla (H.P.)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        44,100<br>(excl TDS 900/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Er. R. N. Mishra<br>(1970-CE)
                       </div>
                       </div>
                        <br>
  



                          
  



                         <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                      Power Grid Corporation of India Ltd.<br>Gurgaon 
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                       44,100<br>(excl TDS 900/-)
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Alumni 1990 Batch
                       </div>
                       </div>
                        <br>
  

                      </div><!-- end of modal body -->
                      </div>
                      </div>
                      </div>
<!--MODAL BODY ENDING -->




<!-- MOdal for 2013-->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="conv2013">
                 <input type="hidden" id="invisible" value="">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sponsors - Convocation 2013</h4>
                      </div>
                      <div class="modal-body" id="wholemodal">


                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Sponsorer</strong>
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Amount</strong>
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Type</strong>
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         <strong>Sponsored By</strong>
                       </div>
                       </div>
                       <hr>
   


                      



                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                       M/s Hindustan Constructions
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        5,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Prof. R. P. Tiwari<br>(1987-CE)
                       </div>
                       </div>
                        <br>
  





                       
                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                     M/s Jagdish Prasad Shukla
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        5,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Prof. R. P. Tiwari<br>(1987-CE)
                       </div>
                       </div>
                        <br>
  







                       <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                     M/s Prabha Constructions
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        10,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Prof. R. P. Tiwari<br>(1987-CE)
                       </div>
                       </div>
                        <br>





                      <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                    M/s Kandarp Constructions
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        10,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Prof. R. P. Tiwari<br>(1987-CE)
                       </div>
                       </div>
                        <br>
  

             <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                    M/s Kalp Vraksh Engineers
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        50,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Lunch
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Prof. R. P. Tiwari<br>(1987-CE)
                       </div>
                       </div>
                        <br>





                         <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                    M/s Chandra Prakash
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        50,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Dinner
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Prof. R. P. Tiwari<br>(1987-CE)
                       </div>
                       </div>
                        <br>



                     <div class="row">
                       <div class="col-sm-2 col-sm-offset-1">
                   M/s Pragya Pest Control Services
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                        8,000
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Advertisement
                       </div>
                       <div class="col-sm-2 col-sm-offset-1">
                         Dr. Ramesh Pandey<br>(1992-CE)
                       </div>
                       </div>
                        <br>                     
  

                      </div><!-- end of modal body -->
                      </div>
                      </div>
                      </div>
<!--MODAL BODY ENDING -->




<!-- Modal ending for 2013 -->




<!-- Modal for 2011 -->



<!-- end of modal body -->
                      </div>
                      </div>
                      </div>
<!--MODAL BODY ENDING -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="conv2014">
     <input type="hidden" id="invisible" value="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sponsors - Convocation 2014</h4>
          </div>
        <div class="modal-body" id="wholemodal">


           <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
             <strong>Sponsorer</strong>
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             <strong>Amount</strong>
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             <strong>Type</strong>
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             <strong>Sponsored By</strong>
           </div>
           </div>
           <hr>



          



           <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
           Er. Narayan Prasad<br>Sharma, (1989 Mech)
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            40,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             Tea & <br>Breakfast
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             Er. Narayan Prasad <br>Sharma, (1989 Mech)
           </div>
           </div>
            <br>






           
           <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
          M/s Kapsi Electrical Power Products<br>Pvt. Ltd. (Bangalore)
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            15,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             Advertisement
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             
           </div>
           </div>
            <br>








           <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
            M/s Pitti Laminations<br>Ltd.(Mr. Jayaram <br>(GM Marketing)
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            72,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             Tea & <br>Breakfast
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             
           </div>
           </div>
            <br>





          <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
            M/s Mahendra Industries<br>(Bangalore)
           </div>
           <div class="col-sm-2 col-sm-offset-1">
           15,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             Advertisement
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            
           </div>
           </div>
            <br>


            <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
             M/s R. B. Singh<br>(Govt. Contractor)
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            8,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            Advertisement
           </div>
           <div class="col-sm-2 col-sm-offset-1">
              
           </div>
           </div>
            <br>





             <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
                M/s L & T <br>Constructions Chennai
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            50,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
             Lunch
           </div>
           <div class="col-sm-2 col-sm-offset-1">
              Er. G. C. Dubey<br>(1982-CE)
           </div>
           </div>
            <br>



         <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
            M/s Amit Construction Company
           </div>
          <div class="col-sm-2 col-sm-offset-1">
            8,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            Advertisement
           </div>
            <div class="col-sm-2 col-sm-offset-1">
              Er. G. C. Dubey<br>(1982-CE)
           </div>
           </div>
            <br>




          <div class="row">
           <div class="col-sm-2 col-sm-offset-1">
            M/s Prayag Engineers Associate <br>Allahabad
           </div>
          <div class="col-sm-2 col-sm-offset-1">
            8,000
           </div>
           <div class="col-sm-2 col-sm-offset-1">
            Advertisement
           </div>
            <div class="col-sm-2 col-sm-offset-1">
              Er. G. C. Dubey<br>(1982-CE)
           </div>
           </div>
            <br>



            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Ghana Ram Infra 
               </div>
              <div class="col-sm-2 col-sm-offset-1">
                25,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                
               </div>
               </div>
                <br>





          <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Xoom Corporation Ltd.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
                10,007
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                Advertisement
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                
               </div>
               </div>
                <br>




             <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Ajay Construction
               </div>
              <div class="col-sm-2 col-sm-offset-1">
                25,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Er. Rajesh Yadav
               </div>
               </div>
                <br>




             <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Dev Yash Enterprises
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               45,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



              <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Raja Infra Constructions
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               25,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>
             

            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Sunil Garg & Constructions
               </div>
              <div class="col-sm-2 col-sm-offset-1">
                35,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Nand Lal & Sons
               </div>
              <div class="col-sm-2 col-sm-offset-1">
                15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



               <div class="row">
                   <div class="col-sm-2 col-sm-offset-1">
                    M/s Sakhichand Yadav
               </div>
              <div class="col-sm-2 col-sm-offset-1">
                15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Lucky Traders
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Maha Laxmi Constructions
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                 <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Naveen Kumar Jain
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Descon Greentech Pvt. Ltd.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>




                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Chola Ply Home
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>






                  <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Jain Enterprises
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                  <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Evergreen Infrabuild Pvt. Ltd.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                  <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Ashok Kumar Singh
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Parvez Enterprises
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                 <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Interior Today
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                 <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Prime Cleaning Services
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                 <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Maha Laxmi Enterprises
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


                 <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Ashok Singh
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                    M/s Yaduvansi Builders
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>



                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Jyoti Builders Pvt. Ltd.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


                <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                    M/s Technocrate Constructions
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               15,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                 M/s Lindsay International Pvt. Ltd.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               8,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Siraj Construction Co.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               8,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>

            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                M/s Nav Bharat Trading Co.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               8,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>

            <div class="row">
               <div class="col-sm-2 col-sm-offset-1">
                     M/s A. K. Constructions Co.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               8,000
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 Er. Satyavir Yadav<br>(1989-CE)
               </div>
               </div>
                <br>


            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                 M/s SAHARA STAR  Ltd.
               </div>
              <div class="col-sm-2 col-sm-offset-1">
               44,100
               </div>
               <div class="col-sm-2 col-sm-offset-1">
                 Advertisement
               </div>
                <div class="col-sm-2 col-sm-offset-1">
                 
               </div>
           </div>
            <br>

        </div><!-- end of modal body -->
        </div>
    </div>
</div>


<script type="javascript">





</script>
                <!--MODAL BODY ENDING -->
