<nav class="side-menu">
        <ul>
          <li class="hidden active">
              <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
              <a href="#home" class="page-scroll">
                <span class="menu-title">Convention <%= @convention.year.year %></span>
                <span class="dot"></span>
              </a>
          </li>
          <li>
              <a href="#organisers" class="page-scroll">
                <span class="menu-title">Organisers</span>
                <span class="dot"></span>
              </a>
          </li>
           
          <li>
              <a href="#schedule" class="page-scroll">
                <span class="menu-title">Schedule</span>
                <span class="dot"></span>
              </a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <!-- Start: Header -->
        <div class="row hero-header" id="home" style="background: #016cc7; margin-top: -20px;">
          <div class="col-md-7 text-center">
            <h1>Alumni Convention of <%= @convention.year.year %></h1>
            <h3>Get connected back to your batch-mates and college.</h3>
            <h4> <%= @convention.start_date.strftime("%-dth %b, %Y") %> <span style= "font-size: 25px;color: #DD5138">to</span> <%= @convention.start_date.day+1 %>th <%= @convention.start_date.strftime("%b, %Y") %></h4>
            <% if !current_user.convention_request.nil? %>
              <% if !(current_user.convention_request.convention == Convention.last) %>
                <%= link_to "Register Now", new_convention_request_path, class: "btn btn-lg btn-red" %>
              <% else %> 
                <p>You have already Registered.</p> 
              <% end %>
            <% else %> 
              <%= link_to "Register Now", new_convention_request_path, class: "btn btn-lg btn-red" %>
            <% end %>
          </div>
          <div class="col-md-5 hidden-xs">
 	    <%= image_tag 'rocket.png', class: "rocket animated bounce" %>
          </div>
        </div>
        <!-- End: Header -->
      </div>
      <div class="container">
        <!-- Start: Desc -->
        <div class="row me-row content-ct speaker" id="organisers">
          <h2 class="row-title">Organising Committee</h2>
          <div class="col-md-4 col-sm-6 feature">
	    <%= image_tag 'speaker-1.png', class: "speaker-img" %>
            <h3>Prof. P. Chakrabarti</h3>
            <p>President, Alumni Association</p>
            
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <%= image_tag 'speaker-2.png', class: "speaker-img" %>

            <h3>Professor N.D. Pandey</h3>
            <p>Dean, Rg & IA</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	         <%= image_tag 'speaker-3.png', class: "speaker-img" %>
            
            <h3>Dr. Avinash Kumar Dubey</h3>
            <p>Vice President - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	          <%= image_tag 'speaker-3.png', class: "speaker-img" %>
           
            <h3>Er. Anurag Srivastava </h3>
            <p>Vice President - II, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
           
            <h3>Dr. Praveen Kumar Agarwal</h3>
            <p>Treasurer, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Ramesh Pandey</h3>
            <p>Secretary, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
         
            <h3>Dr. Mohd. Siraj Alam, Faculty</h3>
            <p>Joint Secretary - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	         <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Rajesh Kumar Singh</h3>
            <p>Joint Secretary - II, Alumni Association</p>
          </div>
          
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. H. P. Shukla</h3>
            <p>Member - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. G. P. Singh</h3>
            <p>Member - II, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Dr. Shailesh Kr Trivedi</h3>
            <p>Member - III, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Er. Rajendra Pratap Giri</h3>
            <p>Member - IV, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Prof. R.N. Sahi</h3>
            <p>Member - V, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. R. C. Maurya</h3>
            <p>Member - VI, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Er. Y. K. Gupta</h3>
            <p>Member - VII, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Er. J. P. Agarwal</h3>
            <p>Member - VIII, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Er. S. C. Chugh </h3>
            <p>Member - IX, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. Ravindra Kr. Pandey</h3>
            <p>Member - X, Alumni Association</p>
          </div>
        </div>
        <!-- End: Speakers -->
      </div>

     
      <!-- Start: Schedule -->
      <div class="container">
        <div class="row me-row schedule" id="schedule">
          <h2 class="row-title content-ct">Event Schedule</h2>
          <p class="content-ct">Venue: M.P. Hall, MNNIT</p>
          <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#day-1" aria-controls="home" role="tab" data-toggle="tab">Day 01 <small class="hidden-xs">(12<sup>th</sup>, November)</small></a></li>
              <li role="presentation"><a href="#day-2" aria-controls="profile" role="tab" data-toggle="tab">Day 02 <small class="hidden-xs">(13<sup>th</sup>, November)</small></a></li>
              
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="day-1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">9:00 am to 10:00 am</h4>
                        <h5>Registration</h5>
                        <h5>Inaugural Function</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">11:00 am to 12:00 pm</h4>
                        <h5>Tea Break</h5>
                        <h5>Felicitation of Faculty members retired after 2015</h5>
                        <h5>Felicitation of '1966 Golden Jubilee' Batches</h5>
                        <h5>felicitation of 'Dosti ke Pachas Varsh' Batches</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">12:10pm to 02:30pm</h4>
                        <h5>Felicitation of '1991 silver Jubilee' Batches</h5>
                        <h5>Lunch (1 :00 pm)</h5>
                        <h5>AGM & Election of new executives/ parallel session for spouse</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">4:10pm to 08:30pm</h4>
                        <h5>Alumni Interaction with departments</h5>
                        <h5>Alumni Interaction with students</h5>
                        <h5>tea / snacks</h5>
                        <h5>cultural program</h5>
                        <h5>dinner</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="day-2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">8:30am to 9:30 am</h4>
                        <h5>Assembly at sac, breakfast in hostel mess</h5>
                        <h5>visit to hostel</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">10:30am to 01:00pm</h4>
                        <h5>sangam visit and local tour</h5>
                        <h5>lunch</h5>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
