<%= javascript_include_tag "jquery.countTo" %>
<link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript">
    function doBlink() {
 
    var blink = document.getElementById('typed1');
    console.log("enfk");
    blink.style.visibility = blink.style.visibility == "" ? "hidden" : "" ; 
}

function startBlink() {

    setInterval("doBlink()",900) ;

}
setTimeout("startBlink()",800);
  
</script>

<style type="text/css">
  .hero-header{
    padding: .2em;
  }
  .hero-header h1{
    margin-top:.2em;
  }
  .mainnav li{
    letter-spacing: 0;  
    margin-left: 5%;
  }
  .mainnav > .nav{
    background-color: white;
  }
  .mainnav > .nav-tabs > li > a{
    color: #46535e;
    font-weight: 500;
    text-transform: uppercase;
  }
  .mainnav > .nav-tabs > li > a:hover,.nav > li > a:focus{
    color: #4c9cdf;
    border: none;
    background-color: white;
  }
  
  .mainnav > .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    color: #4c9cdf ;
    border:none;
    border-bottom: 7px solid #4c9cdf;
  }
  .subnav li{
    letter-spacing: 0;  
    margin-left: 3%;
  }
  .subnav > .nav{
    background-color: white;
  }
  .subnav > .nav-tabs > li > a{
    color: #dd5138;
    text-transform: uppercase;
  }
  .subnav > .nav-tabs > li > a:hover,.nav > li > a:focus{
    color: #dd5138;
    border: none;
    background-color: white;
  }
  
  .subnav > .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    color: #dd5138 ;
    border:none;
    border-bottom: 7px solid #dd5138;
  }
  .schedule .media{
    margin-top:1.2em;
  }
  .media-heading{
    color: #4c9cdf;
  }
  /* custom inclusion of right, left and below tabs */
  .tbl > .tabs-left > .nav-tabs > li{
    margin-left: 0;
    border-color:#CECECE;
  border-style: solid;
  border-width: 1px;
  }
/*.tbl > .tabs-left > .nav-tabs{
  border-color:#CECECE;
  border-style: solid;
  border-width: 1px;
}*/
.tbl > .tabs-below > .nav-tabs,
.tbl >.tabs-right > .nav-tabs,
.tbl >.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tbl >.tab-content > .tab-pane,
.tbl >.pill-content > .pill-pane {
  display: none;
}

.tbl >.tab-content > .active,
.tbl >.pill-content > .active {
  display: block;
}

.tbl >.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tbl >.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tbl >.tabs-below > .nav-tabs > li > a {
 

}
.tbl >.tabs-below > .nav-tabs > li.active > a {
    box-shadow: inset 0px 0px 1.143em 0px rgba(0, 0, 0, 0.13);
    background: #F3F3F3;
}

.tbl >.tabs-below > .nav-tabs > li > a:hover,
.tbl >.tabs-below > .nav-tabs > li > a:focus {
  /*border-top-color: #ddd;*/
  /*border-bottom-color: transparent;*/
}

.tbl >.tabs-below > .nav-tabs > .active > a,
.tbl >.tabs-below > .nav-tabs > .active > a:hover,
.tbl >.tabs-below > .nav-tabs > .active > a:focus {
 /* border-color: transparent #ddd #ddd #ddd;*/
}

.tbl >.tabs-left > .nav-tabs > li,
.tbl >.tabs-right > .nav-tabs > li {
  float: none;
}

.tbl >.tabs-left > .nav-tabs > li > a,
.tbl >.tabs-right > .nav-tabs > li > a {
  min-width: 200px;
  margin-right: 0;
}

.tbl >.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tbl >.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;

 
}

.tbl >.tabs-left > .nav-tabs > li > a:hover,
.tbl >.tabs-left > .nav-tabs > li > a:focus {
  border-bottom: none;
}

.tbl >.tabs-left > .nav-tabs .active > a,
.tbl >.tabs-left > .nav-tabs .active > a:hover,
.tbl >.tabs-left > .nav-tabs .active > a:focus {
  box-shadow: inset 0px 0px 1.143em 0px rgba(0, 0, 0, 0.13);
  background: #F3F3F3;
  border-left: 5px solid #D13636;
  border-radius: 0;
}

.tbl >.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tbl >.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;

}

.tbl >.tabs-right > .nav-tabs > li > a:hover,
.tbl >.tabs-right > .nav-tabs > li > a:focus {
 /* border-color: #eeeeee #eeeeee #eeeeee #dddddd;*/
}

.tbl >.tabs-right > .nav-tabs .active > a,
.tbl >.tabs-right > .nav-tabs .active > a:hover,
.tbl >.tabs-right > .nav-tabs .active > a:focus {
  /*border-color: #ddd #ddd #ddd transparent;
  border-left-color: #ffffff;*/
  border-bottom: none;
}

.tbl .nav-tabs > li.active > a{
  border: none;
  font-weight: bolder;
}

.tabc{
  padding: 2%;
  margin-left: 4%;
  max-width: 700px;
  float: left;
}
.tabc ul{
  list-style: inherit;
}
.tabc h3{
  color: #DD5138;
  font-family: 'Dosis', sans-serif; 
  font-size: 30px;
  font-weight: bolder;
}
.pfix{
  margin-top: 3%;
  font-weight: 700;
  font-size: 24px;   
}
.list{
  padding-left: 5%;
}
.list ul{
  list-style: inherit;
}
.list h3{
  color: #DD5138;
  font-family: 'Dosis', sans-serif; 
  font-size: 30px;
  font-weight: bolder;
}
</style>


<div class="container-fluid">
<!-- Start: Header -->
<div class="row hero-header" id="home" style="background-image: url(<%= asset_path 'bg.jpeg' %>); margin-top: -20px;">
  <div class="col-md-12 text-center fill" >
    <h1 style="color: red">Alumni Convention of <%= @convention.year.year %></h1>
    <h3 style="color: yellow; text-shadow: 4px 4px 4px black;">Get connected back to Alma Mater.</h3>
    <h3 style="color: blue; font-weight: 600 !important; font-size: 30px;text-shadow: 2px 2px 2px black;"> <%= @convention.start_date.strftime("%-dth %b, %Y") %> <span style= "font-size: 25px;color: blue">to</span> <%= @convention.start_date.day+1 %>th <%= @convention.start_date.strftime("%b, %Y") %></h3>
    
    <div class="col-md-6 col-md-offset-3"><div class="col-md-5" ><span class="timer" data-from="0" data-to="<%= @registered_users %>" data-speed="2000" style="font-size: 35px;color: #fcd93b;padding-left: 45%;font-weight: 700;text-shadow: 4px 4px 4px black;"></span></div><div class="col-md-7" style="vertical-align: center;"><p class="pfix" style="text-shadow: 2px 2px 2px black;margin-left:-55%; color: blue;">Alumni Registered</p></div></div>
  </div>
  <div class="modal fade " id="forms">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center" >  
                <div class="box" >
                     <div class="content">
                            <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif; margin-top: -30px;"><b>Registration Forms</b></h2>
                            <p style="color: black"> For offline registration download the registration form, fill the details and then mail it to MNNIT Alumni Office as mentioned in the form. </p>
                      <div class="text-center">
                        <table border="1" style="color: black;" height="300px" width="100%">
                          <tr>
                            <th class="text-center">S.No.</th>
                            <th class="text-center">Forms</th>
                            <th class="text-center">Link</th>
                          </tr>
                          <tr>
                            <!--<td>1</td>
                                  <td>Invitation Card</td>
                            <td><%= link_to "Download", "/assets/pdfs/invitation.pdf" %></td>
                          </tr>
                          <tr>-->
                            <td>1</td>
                                  <td>For Silver Jubilee Batch</td>
                            <td><%= link_to "pdf", "/assets/REGISTRATION FORM (for  Silver Jubilee batch only).pdf" %><br><%= link_to "word", "/assets/REGISTRATION FORM (for  Silver Jubilee batch only).docx" %></td>
                          </tr>
                          <tr>
                            <td>2</td>
                                  <td>For other Batches</td>
                            <td><%= link_to "pdf", "/assets/REGISTRATION FORM (for all batches except Silver Jubilee batch).pdf" %><br><%= link_to "word", "/assets/REGISTRATION FORM (for all batches except Silver Jubilee batch).docx" %></td>
                          </tr>
                            
                        </table>
                        <br>
                        <%= link_to "Payment", conventions_payment_path, class: "btn btn-lg btn-yellow "%>     
                      </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</div>
        <!-- End: Header -->
      </div>
      <div class="container-fluid">
        <div class="col-md-12 col-xs-12 mainnav">

          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#reg" aria-controls="home" role="tab" data-toggle="tab" class="taba">Register</a></li>
              <li role="presentation"><a href="#orgcom" aria-controls="profile" role="tab" data-toggle="tab" class="taba">Organising Committee</a></li>  
              <li role="presentation"><a href="#events" aria-controls="profile" role="tab" data-toggle="tab" class="taba">Program Highlights</a></li>   
              <!--<li role="presentation"><a href="#proudspons" aria-controls="profile" role="tab" data-toggle="tab" class="taba">Proud Sponsors</a></li> -->
              <li role="presentation"><a href="#sponsorhip" aria-controls="profile" role="tab" data-toggle="tab" class="taba">Proud Sponsors</a></li> 
              <li role="presentation"><a href="#invitation" aria-controls="profile" role="tab" data-toggle="tab" class="taba">Invitation</a></li>
              <!--<li role="presentation"><a href="#mem" aria-controls="profile" role="tab" data-toggle="tab" class="taba">Memorables</a></li> -->
          </ul>


            <div class="tab-content" style="background-color: white;margin-top: 1%;padding: 1em">

                <div role="tabpanel" class="tab-pane fade in active" id="reg">
                    <div class="container text-center">
                      <p style="font-family: 'Tangerine', cursive;font-weight: 900;font-size: 30px;">Some buildings, Some playgrounds, Some friends, Some teachers,<br>
                      A river nearby, An ashram besides, A tea shop selling bread pakoras,<br>
                      A messy room, Birthday treats, A broken guitar, Poster of movie star,<br>
                      Oh! Tech. geniuses, unite again to live back the time and have a few
                      more samosas.</p>
                      <div class="text-center">
                        <button data-toggle="collapse" data-target="#registercollapse" aria-expanded="false" aria-controls="registercollapse" class="btn btn-primary"><span id="typed1">Register for Alumni Convention-2016</span></button>
                        <div class="collapse" id="registercollapse">
                          
                             <% if !@convention_request.nil? %>
                              <% if !(@convention_request.convention == @convention) %>
                                <%= link_to "Online", "#reg_form", "data-toggle" => "modal" , onclick: "openFormModal()", class: "btn btn-lg btn-red" %> OR
                                <%= link_to "Download Forms", "#forms", "data-toggle" => "modal" , onclick: "openRegModal()", class: "btn btn-lg btn-yellow" %>
                                
                              <% elsif @convention_request.convention == @convention and @convention_request.status == true %> 
                                <p style="margin-bottom: 20px;"> Thank you! You have registered for the Convention.</p>
                              <% else %>
                        				<% if @convention_request.payment.nil? %>
                        					<p style="margin-bottom: 20px;">Your Transaction was not successful, Please try again.</p>
	                                <%= link_to "Edit", edit_convention_request_path, class: "btn btn-lg btn-red" %> OR
          	                        <%= link_to "Offline", "#forms", "data-toggle" => "modal" , onclick: "openFormModal()", class: "btn btn-lg btn-yellow" %>
                                <% else %>
                                  <p style="margin-bottom: 20px;"> Your Payment Id : (<%= current_user.convention_request.payment %>) is being verified.</p>
                                  <br>
                                <% end %>
                              <% end %>  
                            <% else %> 
                              <p style="margin-bottom: 20px;"></p>
                              <%= link_to "Online", new_convention_request_path, class: "btn btn-lg btn-red" %> OR
                              <%= link_to "Offline", "#forms", "data-toggle" => "modal" , onclick: "openFormModal()", class: "btn btn-lg btn-yellow" %>
                            <% end %>
                          
                        </div>
                        
                      </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade tbl" id="orgcom">
                    <div class="container tbl" style="background-color: white"> 
                           <div class="col-md-6 list">
                             <h3>Patron</h3>
                               <ul>
                                  <li><p>Prof. S.K. Duggal</p></li>
                               </ul>
                                 <h3>Vice President</h3>
                               <ul>
                                <li><p>Dr. Avanish Kumar Dubey</p></li>
                                <li><p>Er. Anurag Srivastav</p></li>
                               </ul>
                               <h3>Secretary</h3>
                               <ul>
                                <li><p>Dr. Ramesh Pandey (Secretary)</p></li>
                                <li><p>Dr. Mohd. Siraj Alam (Joint Secretary-I)</p></li>
                                <li><p>Rajesh Kumar Singh (Joint Secretary-II)</p></li>
                               </ul>
                               <h3>Treasurer</h3>
                               <ul>
                                <li><p>Dr. Praveen Kumar Agarwal</p></li>
                               </ul>
                               <h3>Dean (R G & IA) Ex-Officio</h3>
                               <ul>
                                <li><p>Prof. M.M. Gore</p></li>
                               </ul>
                          </div>
                          <div class="col-md-6 list">
                              <h3>Members</h3>
                               <ul>
                                <li><p>Er. H.P Shukla</p></li>
                                <li><p>Er. G.P Singh</p></li>
                                <li><p>Dr. Shailesh Kumar Trivedi</p></li>
                                <li><p>Er. Rajendra Pratap Giri</p></li>
                                <li><p>Prof. R.N Sahi</p></li>
                                <li><p>Er. R.C Maurya</p></li>
                                <li><p>Er. Y.K Gupta</p></li>
                                <li><p>Er. J.P Agarwal</p></li>
                                <li><p>Er. S.C Chugh</p></li>
                                <li><p>Er. Ravindra Kumar Pandey</p></li>
                               </ul>
                          </div>
                           <!--<div class="tabbable tabs-left">
                            <ul class="nav nav-tabs">
                              <li class="active"><a href="#a" data-toggle="tab">Patron</a></li>
                              <li><a href="#b" data-toggle="tab">Vice President</a></li>
                              <li><a href="#c" data-toggle="tab">Secretary</a></li>
                              <li><a href="#d" data-toggle="tab">Treasurer</a></li>
                              <li><a href="#e" data-toggle="tab">Dean(RG & IA)</a></li>
                              <li><a href="#f" data-toggle="tab">Members</a></li>
                            </ul>
                            <div class="tab-content col-md-offset-6" style="background-color: rgba(0,0,0,0.5); " >
                             <div class="tab-pane active tabc" id="a" >
                               <h3>Patron</h3>
                               <ul>
                                  <li><p>Prof. S.K. Duggal</p></li>
                               </ul>
                             </div>
                             <div class="tab-pane tabc" id="b">
                               <h3>Vice President</h3>
                               <ul>
                                <li><p>Dr. Avanish Kumar Dubey</p></li>
                                <li><p>Er. Anurag Srivastav</p></li>
                               </ul>
                             </div>
                             <div class="tab-pane tabc" id="c">
                              <h3>Secretary</h3>
                               <ul>
                                <li><p>Dr. Ramesh Pandey (Secretary)</p></li>
                                <li><p>Dr. Mohd. Siraj Alam (Joint Secretary-I)</p></li>
                                <li><p>Rajesh Kumar Singh (Joint Secretary-II)</p></li>
                               </ul>
                             </div>
                             <div class="tab-pane tabc" id="d">
                              <h3>Treasurer</h3>
                               <ul>
                                <li><p>Dr. Praveen Kumar Agarwal</p></li>
                               </ul>
                             </div>
                             <div class="tab-pane tabc" id="e">
                              <h3>Dean (R G & IA) Ex-Officio</h3>
                               <ul>
                                <li><p>Prof. N.D Pandey</p></li>
                               </ul>
                             </div>
                             <div class="tab-pane tabc" id="f">
                              <h3>Members</h3>
                               <ul>
                                <li><p>Er. H.P Shukla</p></li>
                                <li><p>Er. G.P Singh</p></li>
                                <li><p>Dr. Shailesh Kumar Trivedi</p></li>
                                <li><p>Er. Rajendra Pratap Giri</p></li>
                                <li><p>Prof. R.N Sahi</p></li>
                                <li><p>Er. R.C Maurya</p></li>
                                <li><p>Er. Y.K Gupta</p></li>
                                <li><p>Er. J.P Agarwal</p></li>
                                <li><p>Er. S.C Chugh</p></li>
                                <li><p>Er. Ravindra Kumar Pandey</p></li>
                               </ul>
                             </div>
                            </div>
                          </div>-->
                    </div>
                </div>  

                <div role="tabpanel" class="tab-pane fade" id="events">
                    <div class="container" style="background-color: white">
                        <div class="row me-row schedule" id="schedule" style="padding: 0"> 
                          <h2 class="row-title content-ct">Program Highlights</h2>
                          <p class="content-ct" style="font-size: 18px;">Venue: M.P. Hall, MNNIT Allahabad</p>

                          <div class="row">
                            <div class="col-md-6">
                                <center><h3><b>Chief Guest</b></h3>
                                <p><b>Er. R.N Misra, 1970 Civil<br>CMD, SJVN Limited<br>Shimla H.P</b></p>  
                                </center>
                            </div>
                            <div class="col-md-6">
                              <center><h3><b>Guest of Honor</b></h3>
                                <p><b>Er. S.D Dubey, 1977 Mechanical <br>Chairperson, Central Electricity Authority<br>New Delhi</b></p>  
                                </center>
                            </div>
                          </div>

                          <div class="col-md-12">
                          <center><p style="font-size: 24px;">Get Together of All Batches</p></center>
                          </div>
                          <div class="col-md-12 subnav">

                            <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#day-1" aria-controls="home" role="tab" data-toggle="tab">Day 01 <small class="hidden-xs">(12<sup>th</sup>, November, Saturday)</small></a></li>
                              <li role="presentation"><a href="#day-2" aria-controls="profile" role="tab" data-toggle="tab">Day 02 <small class="hidden-xs">(13<sup>th</sup>, November, Sunday)</small></a></li>
                            </ul>

                  
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade in active" id="day-1">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="media">
                                      
                                      <div class="media-body">
                                        <h4 class="media-heading">9:00 am to 11:00 am</h4>
                                        <h5><span style="color:rgb(221, 81, 56)">09.00 AM</span> Physical Registration & Breakfast</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">10.00 AM</span> Inaugural Function</h5>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="media">
                                      
                                      <div class="media-body">
                                        <h4 class="media-heading">11:00 am to 12:00 pm</h4>
                                        <h5><span style="color:rgb(221, 81, 56)">11.00 AM</span> Felicitation of Faculty members retired after Convention-2015</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">11.10 AM</span> Felicitation of '1966 Golden Jubilee' Batch</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">11.20 AM</span> Felicitation of 'Dosti ke Pachas Varsh' Batch</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">11.30 AM</span> Felicitation of '1981 Coral Anniversary' Batch</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">11.50 AM</span> Felicitation of '1991 Silver Jubilee' Batch</h5>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="media">
                                      
                                      <div class="media-body">
                                        <h4 class="media-heading">12:30pm to 03:00pm</h4>
                                        <h5><span style="color:rgb(221, 81, 56)">12.30 PM</span> Annual general meeting/ parallel session for spouse</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">01.00 PM</span> Alumni interaction with Heads/ Deans/ Key Office Bearers</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">01.30 PM</span> Lunch</h5>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="media">
                                      
                                      <div class="media-body">
                                        <h4 class="media-heading">3:00pm to 08:30pm</h4>
                                        <h5><span style="color:rgb(221, 81, 56)">03.00 PM</span> Alumni Interaction with students</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">04.00 PM</span> tea / snacks</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">06.30 PM</span> cultural program</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">08.30 PM</span> dinner</h5>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="day-2">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="media">
                                      
                                      <div class="media-body">
                                        <h4 class="media-heading">8:30am to 9:30 am</h4>
                                        <h5><span style="color:rgb(221, 81, 56)">08.30 AM</span> Assembly at SAC, breakfast in hostel mess</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">09.30 AM</span> Visit to hostel/Departments</h5>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="media">
                                      
                                      <div class="media-body">
                                        <h4 class="media-heading">10:30am to 01:00pm</h4>
                                        <h5><span style="color:rgb(221, 81, 56)">10.30 AM</span> sangam visit and local tour</h5>
                                        <h5><span style="color:rgb(221, 81, 56)">01.00 PM</span> lunch</h5>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                </div> 

                <!--<div role="tabpanel" class="tab-pane fade" id="proudspons">
          
                </div> -->

                <div role="tabpanel" class="tab-pane fade" id="sponsorhip">
                  <div class="container">
                    <h2 class="row-title content-ct">Why become a Sponsor?</h2><hr>
                    <p>There are many benifits of being a Sponsor.
                      There are five basic categories of Sponsorship :
                      <ol >
                        <li>Platinum</li>
                        <li>Diamond</li>
                        <li>Gold</li>
                        <li>Silver</li>
                        <li>Bronze</li>
                      </ol>
                    </p>
                    <p>To know more about the Sponsorship, you can read the PDF linked to the button below.</p>
                    <p class="text-center"><%= link_to "Sponsor", "/assets/2Sponsorship Category and Benefits - Alumni Convention 2016.pdf", class: "btn btn-lg btn-red" %></p>
                  </div>
                </div> 

               <div role="tabpanel" class="tab-pane fade" id="invitation">
                  <div class="container">
                    
                    <%= image_tag 'inv2.jpg', style: "",class:"img-responsive "%>
                    <%= image_tag 'inv1.jpg', style: "",class:"img-responsive "%>
                    <div style="margin-top: 2%;"><center><%= link_to "Download Invitation", "/assets/invitation.pdf",class:"btn btn-lg btn-red" %></center></div>
                  </div>
                </div>  

            </div>


        </div>
      </div>


      <!--<div class="container">
        
        <div class="row me-row content-ct speaker" id="organisers">
          <h2 class="row-title">Organising Committee</h2>
          <div class="col-md-4 col-sm-6 feature">
      <%= image_tag 'speaker-1.png', class: "speaker-img" %>
            <h3>Prof. S.K. Duggal</h3>
            <p>Patron (President, Alumni Association)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <%= image_tag 'speaker-2.png', class: "speaker-img" %>

            <h3>Professor N.D. Pandey</h3>
            <p>Advisor (Dean, Rg & IA)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
            
            <h3>Dr. Avinash Kumar Dubey</h3>
            <p>Chairman (Vice President - I)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <%= image_tag 'speaker-3.png', class: "speaker-img" %>
           
            <h3>Er. Anurag Srivastava </h3>
            <p>Co-Chairman (Vice President - II)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
             <%= image_tag 'speaker-1.png', class: "speaker-img" %>
           
            <h3>Dr. Praveen Kumar Agarwal</h3>
            <p>Treasurer, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Dr. Ramesh Pandey</h3>
            <p>Org. Secretary, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
             <%= image_tag 'speaker-2.png', class: "speaker-img" %>
         
            <h3>Dr. Mohd. Siraj Alam, Faculty</h3>
            <p>Joint Org. Secretary - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Rajesh Kumar Singh</h3>
            <p>Joint Org. Secretary - II, Alumni Association</p>
          </div>
          
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. R.C. Maurya</h3>
            <p>Member - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Dr. Shailesh Kr Trivedi</h3>
            <p>Member - II, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Dr. Shailesh Kr Trivedi</h3>
            <p>Member - III, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Prof. R.N. Sahi</h3>
            <p>Member - IV, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Er. Y. K. Gupta</h3>
            <p>Member - V, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. S. C. Chugh</h3>
            <p>Member - VI, Alumni Association</p>
          </div>
        </div>
        
      </div>-->

     
      <!-- Start: Schedule -->
      <!--<div class="container" style="background-color: white">
        <div class="row me-row schedule" id="schedule">
          <h2 class="row-title content-ct">Program Highlights</h2>
          <p class="content-ct">Venue: M.P. Hall, MNNIT</p>
          <div class="col-md-12">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#day-1" aria-controls="home" role="tab" data-toggle="tab">Day 01 <small class="hidden-xs">(12<sup>th</sup>, November)</small></a></li>
              <li role="presentation"><a href="#day-2" aria-controls="profile" role="tab" data-toggle="tab">Day 02 <small class="hidden-xs">(13<sup>th</sup>, November)</small></a></li>
              
            </ul>

  
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="day-1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">9:00 am to 10:00 am</h4>
                        <h5>Registration & Breakfast</h5>
                        <h5>Inaugural Function</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">11:00 am to 12:00 pm</h4>
                        <h5>Felicitation of Faculty members retired after Convention-2015</h5>
                        <h5>Felicitation of '1966 Golden Jubilee' Batch</h5>
                        <h5>felicitation of 'Dosti ke Pachas Varsh' Batch</h5>
                        <h5>felicitation of '1981 Coral Anniversary' Batch</h5>
                        <h5>Felicitation of '1991 Silver Jubilee' Batch</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">12:30pm to 02:30pm</h4>
                        <h5>Annual general meeting/ parallel session for spouse</h5>
                        <h5>Alumni interaction with Heads/ Deans/ Key Office Bearers</h5>
                        <h5>Lunch (1 :30 pm)</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">4:10pm to 08:30pm</h4>
                        <h5>Alumni Interaction with departments</h5>
                        <h5>Alumni Interaction with students</h5>
                        <h5>tea / snacks</h5>
                        <h5>cultural program</h5>
                        <h5>dinner</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="day-2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">8:30am to 9:30 am</h4>
                        <h5>Assembly at sac, breakfast in hostel mess</h5>
                        <h5>visit to hostel</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">10:30am to 01:00pm</h4>
                        <h5>sangam visit and local tour</h5>
                        <h5>lunch</h5>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>-->

      
      
<script >
  function showForm(){
    $('#forms').fadeOut('fast',function(){
        $('.loginBox').fadeIn('fast');
    });  
         
}
function showRegForm(){
     
    $('#reg_form').fadeOut('fast',function(){
        $('.loginBox').fadeIn('fast');
    });      
}

function openFormModal(){
    showForm();
    setTimeout(function(){
        $('#forms').modal('show');    
    }, 230);
}    
function openRegModal(){
    showRegForm();
    setTimeout(function(){
        $('#reg_form').modal('show');    
    }, 230);
}     
$('.timer').countTo();   
</script>
