<nav class="side-menu">
  <ul>
    <li class="hidden active">
        <a class="page-scroll" href="#page-top"></a>
    </li>
    <li>
        <a href="#home" class="page-scroll">
          <span class="menu-title">Convention <%= @convention.year.year %></span>
          <span class="dot"></span>
        </a>
    </li>
    <li>
        <a href="#organisers" class="page-scroll">
          <span class="menu-title">Organisers</span>
          <span class="dot"></span>
        </a>
    </li>
     
    <li>
        <a href="#schedule" class="page-scroll">
          <span class="menu-title">Schedule</span>
          <span class="dot"></span>
        </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
<!-- Start: Header -->
<div class="row hero-header" id="home" style="background: #016cc7; margin-top: -20px;">
  <div class="col-md-7 text-center">
    <h1>Alumni Convention of <%= @convention.year.year %></h1>
    <h3>Get connected back to your batch-mates and college.</h3>
    <h4> <%= @convention.start_date.strftime("%-dth %b, %Y") %> <span style= "font-size: 25px;color: #DD5138">to</span> <%= @convention.start_date.day+1 %>th <%= @convention.start_date.strftime("%b, %Y") %></h4>
    <% if !current_user.convention_request.nil? %>
      <% if !(current_user.convention_request.convention == Convention.last) %>
        <%= link_to "Register Now", new_convention_request_path, class: "btn btn-lg btn-red" , style: "margin-top: -20px" %> OR
        <%= link_to "Download Forms", "#forms", "data-toggle" => "modal" , onclick: "openFormModal()", class: "btn btn-lg btn-yellow", style: "margin-top: -20px" %>
        
      <% else %> 
        <p style="margin-top: -10px;">You have already Registered.</p>
        <%= link_to "Payment", conventions_payment_path, class: "btn btn-lg btn-yellow ", style: "margin-top: -10px"%> 
      <% end %>
    <% else %> 
      <%= link_to "Register Now", new_convention_request_path, class: "btn btn-lg btn-red", style: "margin-top: -20px" %> OR
      <%= link_to "Download Forms", "#forms", "data-toggle" => "modal" , onclick: "openFormModal()", class: "btn btn-lg btn-yellow" , style: "margin-top: -20px"%>

    <% end %>
  </div>
  <div class="modal fade " id="forms">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center" >  
                <div class="box" >
                     <div class="content">
                            <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif; margin-top: -30px;"><b>Registration Forms</b></h2>
                      <div class="text-center">
                        <table border="1" style="color: black;" height="300px" width="100%">
                          <tr>
                            <th class="text-center">S.No.</th>
                            <th class="text-center">Forms</th>
                            <th class="text-center">Link</th>
                          </tr>
                          <tr>
                            <td>1</td>
                                  <td>Invitation Card</td>
                            <td><%= link_to "Download", "/assets/pdfs/invitation.pdf" %></td>
                          </tr>
                          <tr>
                            <td>2</td>
                                  <td>Silver Jubilee Form</td>
                            <td><%= link_to "Download", "/assets/pdfs/REGISTRATION FORM (for  Silver Jubilee batch only).pdf" %></td>
                          </tr>
                          <tr>
                            <td>3</td>
                                  <td>All Batches (except for Silver Jubilee)</td>
                            <td><%= link_to "Download", "/assets/pdfs/REGISTRATION FORM (for all batches except Silver Jubilee batch).pdf" %></td>
                          </tr>
                            
                        </table>
                      </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</div>
        <!-- End: Header -->
      </div>
      <div class="container">
        <!-- Start: Desc -->
        <div class="row me-row content-ct speaker" id="organisers">
          <h2 class="row-title">Organising Committee</h2>
          <div class="col-md-4 col-sm-6 feature">
	    <%= image_tag 'speaker-1.png', class: "speaker-img" %>
            <h3>Prof. S.K. Duggal</h3>
            <p>Patron (President, Alumni Association)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <%= image_tag 'speaker-2.png', class: "speaker-img" %>

            <h3>Professor N.D. Pandey</h3>
            <p>Advisor (Dean, Rg & IA)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	         <%= image_tag 'speaker-3.png', class: "speaker-img" %>
            
            <h3>Dr. Avinash Kumar Dubey</h3>
            <p>Chairman (Vice President - I)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	          <%= image_tag 'speaker-3.png', class: "speaker-img" %>
           
            <h3>Er. Anurag Srivastava </h3>
            <p>Co-Chairman (Vice President - II)</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
           
            <h3>Dr. Praveen Kumar Agarwal</h3>
            <p>Treasurer, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Dr. Ramesh Pandey</h3>
            <p>Org. Secretary, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
         
            <h3>Dr. Mohd. Siraj Alam, Faculty</h3>
            <p>Joint Org. Secretary - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
	         <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Rajesh Kumar Singh</h3>
            <p>Joint Org. Secretary - II, Alumni Association</p>
          </div>
          
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. R.C. Maurya</h3>
            <p>Member - I, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Dr. Shailesh Kr Trivedi</h3>
            <p>Member - II, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-2.png', class: "speaker-img" %>
          
            <h3>Dr. Shailesh Kr Trivedi</h3>
            <p>Member - III, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Prof. R.N. Sahi</h3>
            <p>Member - IV, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-3.png', class: "speaker-img" %>
          
            <h3>Er. Y. K. Gupta</h3>
            <p>Member - V, Alumni Association</p>
          </div>
          <div class="col-md-4 col-sm-6 feature">
           <%= image_tag 'speaker-1.png', class: "speaker-img" %>
          
            <h3>Er. S. C. Chugh</h3>
            <p>Member - VI, Alumni Association</p>
          </div>
        </div>
        <!-- End: Speakers -->
      </div>

     
      <!-- Start: Schedule -->
      <div class="container" style="background-color: white">
        <div class="row me-row schedule" id="schedule">
          <h2 class="row-title content-ct">Program Highlights</h2>
          <p class="content-ct">Venue: M.P. Hall, MNNIT</p>
          <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#day-1" aria-controls="home" role="tab" data-toggle="tab">Day 01 <small class="hidden-xs">(12<sup>th</sup>, November)</small></a></li>
              <li role="presentation"><a href="#day-2" aria-controls="profile" role="tab" data-toggle="tab">Day 02 <small class="hidden-xs">(13<sup>th</sup>, November)</small></a></li>
              
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="day-1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">9:00 am to 10:00 am</h4>
                        <h5>Registration & Breakfast</h5>
                        <h5>Inaugural Function</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">11:00 am to 12:00 pm</h4>
                        <h5>Felicitation of Faculty members retired after Convention-2015</h5>
                        <h5>Felicitation of '1966 Golden Jubilee' Batch</h5>
                        <h5>felicitation of 'Dosti ke Pachas Varsh' Batch</h5>
                        <h5>felicitation of '1981 Coral Anniversary' Batch</h5>
                        <h5>Felicitation of '1991 Silver Jubilee' Batch</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">12:30pm to 02:30pm</h4>
                        <h5>Annual general meeting/ parallel session for spouse</h5>
                        <h5>Alumni interaction with Heads/ Deans/ Key Office Bearers</h5>
                        <h5>Lunch (1 :30 pm)</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">4:10pm to 08:30pm</h4>
                        <h5>Alumni Interaction with departments</h5>
                        <h5>Alumni Interaction with students</h5>
                        <h5>tea / snacks</h5>
                        <h5>cultural program</h5>
                        <h5>dinner</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="day-2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">8:30am to 9:30 am</h4>
                        <h5>Assembly at sac, breakfast in hostel mess</h5>
                        <h5>visit to hostel</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="media-heading">10:30am to 01:00pm</h4>
                        <h5>sangam visit and local tour</h5>
                        <h5>lunch</h5>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <script >
        function showForm(){
          $('#forms').fadeOut('fast',function(){
              $('.loginBox').fadeIn('fast');
          });       
      }

      function openFormModal(){
          showForm();
          setTimeout(function(){
              $('#forms').modal('show');    
          }, 230);
      </script>
