<!DOCTYPE html>
<html>
<head>
  <title>Alumnnit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'login-register', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login-register', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $("#notice_wrapper").fadeOut("slow", function() {
          $(this).remove();
        }); 
      }, 3000);
    });
  </script> 
	<% if notice or alert %>
		<div id="notice_wrapper">
	  		<% flash.each do |key, value| %>
	    		<div class="alert alert-<%= key %>">
	      			<p><%= value %></p>
	    		</div>
	  		<% end %>
		</div>
	<% end %>	
  <%= render 'pages/header' %>
	<%= yield %>
  <hr>
	<%= render 'pages/footer' %>
  

</body>

</html>
